AC_1_flow.json
[{"id":"db852ff198ba5ac6","type":"tab","label":"AC 1","disabled":false,"info":"","env":[]},{"id":"80dcd46666e0675e","type":"function","z":"db852ff198ba5ac6","name":"Conversão dos valores dos sensores","func":"data = msg.payload.data.value;\n//msg.payload= data.substring(0,4);\n//msg.payload = ((parseInt(data.substring(0,4),16))*0.1).toFixed(0) + \" %\";\n//msg.payload = (parseInt(data.substring(8,12),16)*0.1).toFixed(2) + \" °C\";\n\numidade = ((parseInt(data.substring(0,4),16))*0.1).toFixed(0);\ntemperatura = (parseInt(data.substring(8,12),16)*0.1).toFixed(1);\n\nmsg.umidade = umidade;\nmsg.temperatura = temperatura;\nmsg.payload = [msg.umidade, msg.temperatura];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":200,"wires":[["f91fb53ab762a424"]]},{"id":"abb0c494397c9494","type":"http request","z":"db852ff198ba5ac6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"192.168.0.2","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":670,"y":200,"wires":[["80dcd46666e0675e"]]},{"id":"296e159055c14763","type":"function","z":"db852ff198ba5ac6","name":"Parâmetros Leitura Porta 1 Master IO-Link AL1351","func":"msg.payload = { \"code\":\"request\", \"cid\":4711, \"adr\":\"/iolinkmaster/port[1]/iolinkdevice/pdin/getdata\" };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":200,"wires":[["abb0c494397c9494"]]},{"id":"bccebc28aa8b1ddb","type":"comment","z":"db852ff198ba5ac6","name":"Leitura e registro dosvalores de temperatura e umidade","info":"","x":220,"y":80,"wires":[]},{"id":"cfd82196f6c6f296","type":"inject","z":"db852ff198ba5ac6","name":"Insert DB","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":200,"wires":[["296e159055c14763"]]},{"id":"f6058c92d51a28cd","type":"sqlite","z":"db852ff198ba5ac6","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"sensor_db","x":1310,"y":520,"wires":[["138717cb202caeaa","97de19af26c77371","1d0aaa4c713f0a09"]]},{"id":"f91fb53ab762a424","type":"function","z":"db852ff198ba5ac6","name":"insert","func":"var acname = global.get('ac1');\n\nmsg.topic = \"INSERT INTO \" + String(acname) + \"(umi_int, temp_int, umi_ext, temp_ext) VALUES($umi_int, $temp_int, $umi_ext, $temp_ext)\";\nmsg.payload = [msg.umidade, msg.temperatura, String(parseInt(msg.umidade) + 5.1), String(parseInt(msg.temperatura) + 10.3 )];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":240,"wires":[["f6058c92d51a28cd","2298f8a678ee6751"]]},{"id":"de93921a06bb483e","type":"function","z":"db852ff198ba5ac6","name":"select","func":"var acname = global.get('ac1');\n\nmsg.topic = \"SELECT * FROM \" + String(acname);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":280,"wires":[["f6058c92d51a28cd"]]},{"id":"7982204c61b5429e","type":"inject","z":"db852ff198ba5ac6","name":"Select DB","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":280,"wires":[["de93921a06bb483e"]]},{"id":"a012de77162630de","type":"ui_chart","z":"db852ff198ba5ac6","name":"umid per","group":"b025a80747bfd924","order":27,"width":15,"height":9,"label":"Umidade período","chartType":"line","legend":"true","xformat":"auto","interpolate":"monotone","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e78804","#0c6eed","#e4710c","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1820,"y":520,"wires":[[]]},{"id":"cad0cbe1c78631c1","type":"ui_table","z":"db852ff198ba5ac6","group":"66b7fb5d347f8114","name":"Dados de humidade e temperatura","order":1,"width":"20","height":"10","columns":[{"field":"Timestamp","title":"Data / Hora","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temp_int","title":"Temperatura Interna (ºC)","width":"","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"umi_int","title":"Umidade Interna (%)","width":"","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temp_ext","title":"Umidade Externa (%)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"umi_ext","title":"Temperatura Externa (ºC)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1720,"y":360,"wires":[[]]},{"id":"138717cb202caeaa","type":"json","z":"db852ff198ba5ac6","name":"","property":"payload","action":"obj","pretty":false,"x":1470,"y":360,"wires":[["cad0cbe1c78631c1"]]},{"id":"2298f8a678ee6751","type":"delay","z":"db852ff198ba5ac6","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1140,"y":360,"wires":[["de93921a06bb483e"]]},{"id":"6deb387cc7e2ba96","type":"ui_chart","z":"db852ff198ba5ac6","name":"","group":"b025a80747bfd924","order":19,"width":9,"height":4,"label":"Temperatura (Média / Dia)","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#0000ff","#f2071f","#00ff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1770,"y":620,"wires":[[]]},{"id":"82894fcdc727de79","type":"ui_chart","z":"db852ff198ba5ac6","name":"","group":"b025a80747bfd924","order":18,"width":10,"height":4,"label":"Umidade (Média / DIa)","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#0000ff","#ff0000","#00ff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1760,"y":700,"wires":[[]]},{"id":"5157c3281007248a","type":"function","z":"db852ff198ba5ac6","name":"select data","func":"var acname = global.get('ac1');\nvar di = global.get('data_inicio');\nvar df = global.get('data_fim');\n\nmsg.topic = \"SELECT * FROM \" + String(acname)+\" WHERE Timestamp BETWEEN $data_inicio AND $data_fim\";\nmsg.payload = [di,df];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":540,"wires":[["f6058c92d51a28cd"]]},{"id":"e6d4b16f06e01e8e","type":"ui_button","z":"db852ff198ba5ac6","name":"","group":"b025a80747bfd924","order":23,"width":3,"height":1,"passthru":false,"label":"Selecionar","tooltip":"","color":"","bgcolor":"","className":"","icon":"done","payload":"\"\"","payloadType":"str","topic":"payload","topicType":"msg","x":710,"y":560,"wires":[["cf1afad3723819e7","5157c3281007248a","80c16d357de64454","9e48cb2dd67f662c"]]},{"id":"e99398e2da7cca13","type":"function","z":"db852ff198ba5ac6","name":"Temp Graph  avg by date","func":"function getavg(item){return [item.temp_avg_1].join(\",\")}\nfunction getmax(item){return [item.temp_max_1].join(\",\")}\nfunction getmin(item){return [item.temp_min_1].join(\",\")}\nfunction gettime(item){return [item.Timestamp.substring(8,10)].join(\",\")}\n\nvar m={};\nm.series = ['Média','Máxima','Mínima'];\nm.data = [(msg.payload.map(getavg)),(msg.payload.map(getmax)),(msg.payload.map(getmin))];\nm.labels = [(msg.payload.map(gettime))].toString().split(\",\");\nreturn {payload:[m]};\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":620,"wires":[["6deb387cc7e2ba96"]]},{"id":"97de19af26c77371","type":"function","z":"db852ff198ba5ac6","name":"Temp Graph / dia","func":"function getint(item){return [item.temp_int].join(\",\")}\nfunction getext(item){return [item.temp_ext].join(\",\")}\nfunction gettime(item){return [item.Timestamp.substring(8,13)].join(\",\")}\n\nvar m={};\n\nm.labels = [(msg.payload.map(gettime))].toString().split(\",\");\nm.series = ['Interna', \"Externa\"];\nm.data = [(msg.payload.map(getint)),(msg.payload.map(getext))];\n\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":460,"wires":[["1a112c4ebbfd90db"]]},{"id":"1d0aaa4c713f0a09","type":"function","z":"db852ff198ba5ac6","name":"Umi Graph / dia","func":"function getint(item){return [item.umi_int].join(\",\")}\nfunction getext(item){return [item.umi_ext].join(\",\")}\nfunction gettime(item){return [item.Timestamp.substring(8,13)].join(\",\")}\n\nvar m={};\n\nm.labels = [(msg.payload.map(gettime))].toString().split(\",\");\nm.series = ['Interna', \"Externa\"];\nm.data = [(msg.payload.map(getint)),(msg.payload.map(getext))];\n\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":520,"wires":[["a012de77162630de"]]},{"id":"0444bd6f2152e0ff","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":8,"width":3,"height":1,"name":"G1 Marca","label":"Marca: ","format":"{{msg.payload[0].marca}}","layout":"row-left","className":"","x":280,"y":660,"wires":[]},{"id":"4d028454a16ec00c","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":9,"width":3,"height":1,"name":"G1 Local","label":"Local: ","format":"{{msg.payload[0].local}}","layout":"row-left","className":"","x":280,"y":700,"wires":[]},{"id":"b3d925368c27fe3c","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":10,"width":3,"height":1,"name":"G1 Capacidade","label":"Capacidade: ","format":"{{msg.payload[0].capacidade}}","layout":"row-left","className":"","x":300,"y":740,"wires":[]},{"id":"5988af4ed36516c3","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":7,"width":3,"height":1,"name":"G1 Nº serie","label":"Nº: ","format":"{{msg.payload[0].sn}}","layout":"row-left","className":"","x":290,"y":780,"wires":[]},{"id":"d4ca8bd16f226c4b","type":"link in","z":"db852ff198ba5ac6","name":"","links":["0850c9eb078347f4"],"x":85,"y":680,"wires":[["0444bd6f2152e0ff","4d028454a16ec00c","b3d925368c27fe3c","5988af4ed36516c3"]]},{"id":"4e25f668fe14d567","type":"ui_date_picker","z":"db852ff198ba5ac6","name":"Data inicio","label":"","group":"b025a80747bfd924","order":20,"width":3,"height":1,"passthru":false,"topic":"topic","topicType":"msg","className":"","x":130,"y":920,"wires":[["2d953078cbc9b738"]]},{"id":"2d953078cbc9b738","type":"moment","z":"db852ff198ba5ac6","name":"Data inicio","topic":"","input":"payload","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"days","adjDir":"subtract","format":"YYYY-MM-DD","locale":"en-US","output":"data_inicio","outputType":"global","outTz":"America/Sao_Paulo","x":290,"y":920,"wires":[[]]},{"id":"d81841faec697b3a","type":"moment","z":"db852ff198ba5ac6","name":"Data fim","topic":"","input":"payload","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"en-US","output":"data_fim","outputType":"global","outTz":"America/Sao_Paulo","x":280,"y":960,"wires":[[]]},{"id":"73a7431fc0617a74","type":"ui_date_picker","z":"db852ff198ba5ac6","name":"Data fim","label":"","group":"b025a80747bfd924","order":21,"width":3,"height":1,"passthru":false,"topic":"topic","topicType":"msg","className":"","x":120,"y":960,"wires":[["d81841faec697b3a"]]},{"id":"d00406a27095e17b","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":15,"width":3,"height":1,"name":"","label":"Data inicial","format":"","layout":"row-left","className":"","x":130,"y":880,"wires":[]},{"id":"86d8c185fe92180d","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":16,"width":3,"height":1,"name":"","label":"Data final","format":"","layout":"row-left","className":"","x":280,"y":880,"wires":[]},{"id":"ddd425c304146d4d","type":"ui_led","z":"db852ff198ba5ac6","order":1,"group":"b025a80747bfd924","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"G1 Led","x":380,"y":460,"wires":[]},{"id":"67785c34e43142d8","type":"inject","z":"db852ff198ba5ac6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":460,"wires":[["ddd425c304146d4d"]]},{"id":"b8e10bb3513a967f","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":2,"width":2,"height":1,"name":"G1 Status","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":380,"y":500,"wires":[]},{"id":"42e5e735fa38d89b","type":"inject","z":"db852ff198ba5ac6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Ligado","payloadType":"str","x":170,"y":500,"wires":[["b8e10bb3513a967f"]]},{"id":"b43a8fcf8f8a35e6","type":"inject","z":"db852ff198ba5ac6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":170,"y":420,"wires":[["ddd425c304146d4d"]]},{"id":"1c3501e956787b8b","type":"inject","z":"db852ff198ba5ac6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Desligado","payloadType":"str","x":160,"y":540,"wires":[["b8e10bb3513a967f"]]},{"id":"eda45dabf57632cd","type":"comment","z":"db852ff198ba5ac6","name":"Status do condicionador de ar","info":"","x":140,"y":360,"wires":[]},{"id":"8eeb2734fce9c431","type":"inject","z":"db852ff198ba5ac6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"890,4 Horas","payloadType":"str","x":170,"y":580,"wires":[["0ece3ec14e89e3e0"]]},{"id":"0ece3ec14e89e3e0","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":3,"width":6,"height":1,"name":"G1 oper","label":"Horas de Operação","format":"{{msg.payload}}","layout":"row-left","className":"","x":380,"y":580,"wires":[]},{"id":"cf1afad3723819e7","type":"function","z":"db852ff198ba5ac6","name":"select data temp int avg","func":"var acname = global.get('ac1');\n\nmsg.topic = \"SELECT Timestamp, round(avg(temp_int),1) as temp_avg_1, round(max(temp_int),1) as temp_max_1, round(min(temp_int),1) as temp_min_1 FROM \"+ String(acname)+\" WHERE Timestamp BETWEEN $data_inicio AND $data_fim GROUP by date(Timestamp)\";\nmsg.payload = [global.get('data_inicio'),global.get('data_fim')]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":620,"wires":[["4c0ae9564032249e"]]},{"id":"5ff4b7445b013d70","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":13,"width":10,"height":1,"name":"","label":"Selecione o período para visualizar os dados nos gráficos abaixo.","format":"","layout":"row-left","className":"","x":300,"y":840,"wires":[]},{"id":"4c0ae9564032249e","type":"sqlite","z":"db852ff198ba5ac6","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"sensor_db","x":1310,"y":620,"wires":[["e99398e2da7cca13"]]},{"id":"7de912dd16ca1977","type":"function","z":"db852ff198ba5ac6","name":"Temp Graph  avg by date","func":"function getavg(item){return [item.umi_avg_1].join(\",\")}\nfunction getmax(item){return [item.umi_max_1].join(\",\")}\nfunction getmin(item){return [item.umi_min_1].join(\",\")}\nfunction gettime(item){return [item.Timestamp.substring(8,10)].join(\",\")}\n\nvar m={};\nm.series = ['Média','Máxima','Mínima'];\nm.data = [(msg.payload.map(getavg)),(msg.payload.map(getmax)),(msg.payload.map(getmin))];\nm.labels = [(msg.payload.map(gettime))].toString().split(\",\");\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":700,"wires":[["82894fcdc727de79"]]},{"id":"80c16d357de64454","type":"function","z":"db852ff198ba5ac6","name":"select data umi int avg","func":"var acname = global.get('ac1');\n\nmsg.topic = \"SELECT Timestamp, round(avg(umi_int),1) as umi_avg_1, round(max(umi_int),1) as umi_max_1, round(min(umi_int),1) as umi_min_1 FROM \"+ String(acname)+\" WHERE Timestamp BETWEEN $data_inicio AND $data_fim GROUP by date(Timestamp)\";\nmsg.payload = [global.get('data_inicio'),global.get('data_fim')]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":700,"wires":[["2adca19370f651fa"]]},{"id":"2adca19370f651fa","type":"sqlite","z":"db852ff198ba5ac6","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"sensor_db","x":1310,"y":700,"wires":[["7de912dd16ca1977"]]},{"id":"1a112c4ebbfd90db","type":"ui_chart","z":"db852ff198ba5ac6","name":"temp per","group":"b025a80747bfd924","order":28,"width":13,"height":9,"label":"Temperatura período","chartType":"line","legend":"true","xformat":"auto","interpolate":"monotone","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e75608","#106ae0","#e4710c","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1820,"y":460,"wires":[[]]},{"id":"9e48cb2dd67f662c","type":"function","z":"db852ff198ba5ac6","name":"select data umi int avg","func":"var acname = global.get('ac1');\n\nmsg.topic = \"SELECT Timestamp, (round(avg(temp_ext),1)-round(avg(temp_int),1)) as temp_delta_1  FROM \"+ String(acname)+\" WHERE Timestamp BETWEEN $data_inicio AND $data_fim GROUP by date(Timestamp)\";\nmsg.payload = [global.get('data_inicio'),global.get('data_fim')]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":780,"wires":[["5f5d2773abda8a2b"]]},{"id":"5f5d2773abda8a2b","type":"sqlite","z":"db852ff198ba5ac6","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"sensor_db","x":1310,"y":780,"wires":[["da4ce5ade80c1d18"]]},{"id":"da4ce5ade80c1d18","type":"function","z":"db852ff198ba5ac6","name":"Temp Graph  avg by date","func":"function getdelta(item){return [item.temp_delta_1].join(\",\")}\nfunction gettime(item){return [item.Timestamp.substring(8,10)].join(\",\")}\n\nvar m={};\nm.series = ['Variação'];\nm.data = [(msg.payload.map(getdelta))];\nm.labels = [(msg.payload.map(gettime))].toString().split(\",\");\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":780,"wires":[["f6a765fef5674357"]]},{"id":"a6538d0836afd905","type":"ui_gauge","z":"db852ff198ba5ac6","name":"","group":"b025a80747bfd924","order":5,"width":6,"height":2,"gtype":"gage","title":"Eficiência","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#c62115","#ffff00","#54f000"],"seg1":"50","seg2":"60","diff":false,"className":"","x":460,"y":640,"wires":[]},{"id":"f6a765fef5674357","type":"ui_chart","z":"db852ff198ba5ac6","name":"","group":"b025a80747bfd924","order":6,"width":11,"height":3,"label":"Temperatura (Variação)","chartType":"bar","legend":"true","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#0000ff","#f2071f","#00ff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1770,"y":780,"wires":[[]]},{"id":"b114523585dbbadd","type":"inject","z":"db852ff198ba5ac6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"89","payloadType":"str","x":130,"y":620,"wires":[["a6538d0836afd905"]]},{"id":"9599af8f82ed9213","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":4,"width":4,"height":1},{"id":"2b4e5fbba84dc475","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":11,"width":1,"height":1},{"id":"dcbb2d6214d4a36a","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":12,"width":19,"height":1},{"id":"a3355a8a379f3490","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":14,"width":20,"height":1},{"id":"20832539964e3525","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":17,"width":5,"height":1},{"id":"cfd953fb46016907","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":22,"width":5,"height":1},{"id":"b3818d729bfec167","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":24,"width":8,"height":1},{"id":"a9c6b709978aeec9","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":25,"width":11,"height":1},{"id":"70da45aec14de1c1","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":26,"width":30,"height":1},{"id":"863ec59337c067f1","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":29,"width":2,"height":1},{"id":"b491626c027c8406","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":30,"width":2,"height":1},{"id":"0c518278ad27937a","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":31,"width":2,"height":1},{"id":"44e930eb259e0e90","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":32,"width":2,"height":1},{"id":"2ae9c8c968157c4e","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":33,"width":2,"height":1},{"id":"1d36a8133d180e57","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":34,"width":2,"height":1},{"id":"05ca8201290e40e3","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":35,"width":2,"height":1},{"id":"f1d9dc9252ef4f05","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":36,"width":2,"height":1},{"id":"10423faab7164649","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":37,"width":2,"height":1},{"id":"84d3c853.83bf3","type":"sqlitedb","db":"C:\\Users\\brsilvrg\\dados/novodb.db","mode":"RWC"},{"id":"b025a80747bfd924","type":"ui_group","name":"AC 1","tab":"30cbe482b27f3cb1","order":1,"disp":true,"width":30,"collapse":false,"className":""},{"id":"66b7fb5d347f8114","type":"ui_group","name":"Tabela","tab":"e6e87327e2f51da8","order":1,"disp":true,"width":"20","collapse":false,"className":""},{"id":"30cbe482b27f3cb1","type":"ui_tab","name":"Monitor","icon":"equalizer","order":1,"disabled":false,"hidden":false},{"id":"e6e87327e2f51da8","type":"ui_tab","name":"Dados","icon":"storage","order":2,"disabled":false,"hidden":false}]