flows.json
[{"id":"c7f8ce4fc06e7614","type":"tab","label":"Projeto eficiencia do ar condicionado","disabled":false,"info":"","env":[]},{"id":"d3ba6e67509eae82","type":"function","z":"c7f8ce4fc06e7614","name":"Conversão dos valores dos sensores","func":"data = msg.payload.data.value;\n//msg.payload= data.substring(0,4);\n//msg.payload = ((parseInt(data.substring(0,4),16))*0.1).toFixed(0) + \" %\";\n//msg.payload = (parseInt(data.substring(8,12),16)*0.1).toFixed(2) + \" °C\";\n\numidade = ((parseInt(data.substring(0,4),16))*0.1).toFixed(0);\ntemperatura = (parseInt(data.substring(8,12),16)*0.1).toFixed(2);\n\nmsg.umidade = umidade;\nmsg.temperatura = temperatura;\nmsg.payload = [msg.umidade, msg.temperatura];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":180,"wires":[["da06b69b888ff5e3"]]},{"id":"401689164a135ddd","type":"http request","z":"c7f8ce4fc06e7614","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"192.168.0.2","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":670,"y":180,"wires":[["d3ba6e67509eae82"]]},{"id":"bf690ccaaf9be628","type":"function","z":"c7f8ce4fc06e7614","name":"Parâmetros Leitura Porta 1 Master IO-Link AL1351","func":"msg.payload = { \"code\":\"request\", \"cid\":4711, \"adr\":\"/iolinkmaster/port[1]/iolinkdevice/pdin/getdata\" };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":180,"wires":[["401689164a135ddd"]]},{"id":"988f3a36b227c1d0","type":"comment","z":"c7f8ce4fc06e7614","name":"Leitura e registro dosvalores de temperatura e umidade","info":"","x":220,"y":60,"wires":[]},{"id":"7dc3e90ce2b3eed5","type":"inject","z":"c7f8ce4fc06e7614","name":"Insert DB","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":180,"wires":[["bf690ccaaf9be628"]]},{"id":"99607da5e4202dc9","type":"sqlite","z":"c7f8ce4fc06e7614","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"sensor_db","x":1330,"y":260,"wires":[["a558b39c969ab716"]]},{"id":"da06b69b888ff5e3","type":"function","z":"c7f8ce4fc06e7614","name":"insert","func":"msg.topic = 'INSERT INTO sensor_data(umidade, temperatura) VALUES($umidade, $temperatura)';\nmsg.payload = [msg.umidade, msg.temperatura];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":220,"wires":[["99607da5e4202dc9","c0af4267507ce54a","d225a63b15490de5","1adb15112c3a786d"]]},{"id":"af6d9bba76369a31","type":"function","z":"c7f8ce4fc06e7614","name":"select","func":"msg.topic = \"SELECT * FROM sensor_data\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":260,"wires":[["99607da5e4202dc9"]]},{"id":"20aa993dcf7a85b2","type":"inject","z":"c7f8ce4fc06e7614","name":"Select DB","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":260,"wires":[["af6d9bba76369a31"]]},{"id":"1986566eb4af6d6d","type":"ui_chart","z":"c7f8ce4fc06e7614","name":"","group":"ad1f18bf113870f3","order":3,"width":12,"height":10,"label":"Umidade 10 dias","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0d81d3","#aec7e8","#e4710c","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1450,"y":180,"wires":[[]]},{"id":"51118bbac71a5968","type":"function","z":"c7f8ce4fc06e7614","name":"user_table_new_user","func":"if (msg.payload !='')\n{\nmsg.topic = 'INSERT INTO user_table(cpf,name,surename,room_table_id) VALUES($cpf,$name,$surename,$room_table_id)';\nmsg.payload = [msg.payload.user_cpf, msg.payload.user_name, msg.payload.user_surename, msg.room_table_id];\nreturn msg;\n}\n\nif (msg.payload =='')\n{\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1040,"wires":[["b4eedf8e80f10351"]]},{"id":"b4eedf8e80f10351","type":"sqlite","z":"c7f8ce4fc06e7614","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"db_teste_user","x":900,"y":1220,"wires":[["e8002090b13bb347"]]},{"id":"a58beafb20b06e9e","type":"catch","z":"c7f8ce4fc06e7614","name":"error_user_table","scope":["b4eedf8e80f10351"],"uncaught":false,"x":220,"y":660,"wires":[["6d0406ef6b32af11"]]},{"id":"6d0406ef6b32af11","type":"function","z":"c7f8ce4fc06e7614","name":"user_table_error","func":"if (msg.error != 'Error: SQLITE_CONSTRAINT: UNIQUE constraint failed: user_table.cpf')\n{\n    msg.error = \"cadastro\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":660,"wires":[["c1d0e3ce19defc9e"]]},{"id":"08f4bc876baa089c","type":"ui_chart","z":"c7f8ce4fc06e7614","name":"","group":"989b05521e1e8255","order":3,"width":12,"height":10,"label":"Temperatura 10 dias","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"5","ymax":"50","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1460,"y":60,"wires":[[]]},{"id":"a2068e252803f19c","type":"comment","z":"c7f8ce4fc06e7614","name":"Cadastro de Sensores","info":"","x":220,"y":940,"wires":[]},{"id":"1212627d4557de7c","type":"function","z":"c7f8ce4fc06e7614","name":"select","func":"msg.topic = \"SELECT * FROM user_table\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1160,"wires":[["b4eedf8e80f10351"]]},{"id":"a2a06e5a1efb815e","type":"ui_form","z":"c7f8ce4fc06e7614","name":"user_table_insert","label":"","group":"e5ec328091ba2efa","order":1,"width":6,"height":1,"options":[{"label":"Nome","value":"user_name","type":"text","required":true,"rows":null},{"label":"Sobrenome","value":"user_surename","type":"text","required":true,"rows":null},{"label":"CPF","value":"user_cpf","type":"text","required":true,"rows":null}],"formValue":{"user_name":"","user_surename":"","user_cpf":""},"payload":"","submit":"Gravar","cancel":"Cancelar","topic":"payload","topicType":"msg","splitLayout":false,"className":"","x":230,"y":1040,"wires":[["ad7c008dc8ae463d","cc550fe9d3920c51"]]},{"id":"5f5cd40ab8ee6a1a","type":"ui_table","z":"c7f8ce4fc06e7614","group":"c09795df6ec013d4","name":"Usuários Cadastrados","order":1,"width":12,"height":8,"columns":[{"field":"name","title":"Nome","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"surename","title":"Sobrenome","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"cpf","title":"CPF","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1160,"y":1040,"wires":[["6d80ab9d58eb4368","ccc90c028245be65"]]},{"id":"e8002090b13bb347","type":"json","z":"c7f8ce4fc06e7614","name":"","property":"payload","action":"obj","pretty":false,"x":970,"y":1040,"wires":[["5f5cd40ab8ee6a1a"]]},{"id":"aeb9fe3ff8913fdd","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"76521e6ad2cda0bf","order":2,"width":3,"height":1,"passthru":false,"label":"Novo","tooltip":"","color":"","bgcolor":"","className":"","icon":"person_add","payload":"{\"group\":{\"hide\":[\"Usuários_Editar\",\"Usuários_Tabela\",\"Usuários_Cadastro_de_Usuários\"],\"show\":[\"Usuários_Incluir\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":1400,"wires":[["d7c7d1523ffa45d0"]]},{"id":"2eb23f79e23ebc07","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"76521e6ad2cda0bf","order":3,"width":3,"height":1,"passthru":false,"label":"Editar","tooltip":"","color":"","bgcolor":"","className":"","icon":"edit","payload":"{\"group\":{\"hide\":[\"Usuários_Incluir\",\"Usuários_Cadastro_de_Usuários\"],\"show\":[\"Usuários_Tabela\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":1360,"wires":[["d7c7d1523ffa45d0","1212627d4557de7c"]]},{"id":"d7c7d1523ffa45d0","type":"ui_ui_control","z":"c7f8ce4fc06e7614","name":"","events":"change","x":420,"y":1480,"wires":[["fa1b140968f75dac","932737eff64351ee"]]},{"id":"c42f08e021199b6f","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"cb3493806ceea85b","order":5,"width":3,"height":1,"passthru":true,"label":"Atualizar","tooltip":"","color":"","bgcolor":"","className":"","icon":"sync","payload":"","payloadType":"str","topic":"","topicType":"str","x":200,"y":1220,"wires":[["9ed28248caf9a9f3"]]},{"id":"41cbebdb9c0f0810","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"cb3493806ceea85b","order":6,"width":3,"height":1,"passthru":false,"label":"Deletar","tooltip":"","color":"","bgcolor":"","className":"","icon":"clear","payload":"{\"group\":{\"hide\":[\"Usuários_Editar\",\"Usuários_Tabela\",\"Usuários_Incluir\"],\"show\":[\"Usuários_Cadastro_de_Usuários\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":200,"y":1260,"wires":[["56d36f9366cbec46","d7c7d1523ffa45d0"]]},{"id":"1afc061668474baa","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Nome","tooltip":"","group":"cb3493806ceea85b","order":2,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1830,"y":1000,"wires":[["675edb65e31631e5"]]},{"id":"ec604fdc6a32cd39","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_nome","func":"msg.payload = msg.payload.name;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":1000,"wires":[["1afc061668474baa"]]},{"id":"0ccb16489e582dca","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_sobrenome","func":"msg.payload = msg.payload.surename;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":1040,"wires":[["9376952f0be4b825"]]},{"id":"9376952f0be4b825","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Sobrenome","tooltip":"","group":"cb3493806ceea85b","order":3,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1850,"y":1040,"wires":[["eca90b29a9f2e92b"]]},{"id":"675edb65e31631e5","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_nome","func":"global.set('name',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2020,"y":1000,"wires":[[]]},{"id":"6d80ab9d58eb4368","type":"function","z":"c7f8ce4fc06e7614","name":"table values to edit","func":"global.set('cpf',msg.payload.cpf);\nglobal.set('name',msg.payload.name);\nglobal.set('surename',msg.payload.surename);\nglobal.set('id',parseInt(msg.payload.id)+1);\nglobal.set('room_table_id',msg.payload.room_table_id);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":1040,"wires":[["ec604fdc6a32cd39","0ccb16489e582dca"]]},{"id":"eca90b29a9f2e92b","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_sobrenome","func":"global.set('surename',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":1040,"wires":[[]]},{"id":"9ed28248caf9a9f3","type":"function","z":"c7f8ce4fc06e7614","name":"update","func":"var id = global.get('id');\nvar name = global.get('name');\nvar surename = global.get('surename');\nvar cpf = global.get('cpf');\nvar room_table_id = global.get('room_table_id');\n\n\n//msg.id = id;\nmsg.cpf = cpf;\nmsg.name = name;\nmsg.surename = surename;\nmsg.room_table_id = room_table_id; \n\nmsg.topic = 'UPDATE user_table SET name = $name, surename = $surename, cpf = $cpf, room_table_id = $room_id  WHERE cpf = $cpf';\nmsg.payload = [msg.name, msg.surename, msg.cpf, msg.room_table_id, msg.id];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1220,"wires":[["b4eedf8e80f10351","73f985bbed5c0ef2"]]},{"id":"56d36f9366cbec46","type":"function","z":"c7f8ce4fc06e7614","name":"delete","func":"var cpf = global.get('cpf');\n\nmsg.cpf = cpf;\n\nmsg.topic = 'DELETE FROM user_table WHERE cpf = $cpf';\nmsg.payload = [msg.cpf];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1260,"wires":[["b4eedf8e80f10351","73f985bbed5c0ef2"]]},{"id":"73f985bbed5c0ef2","type":"delay","z":"c7f8ce4fc06e7614","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":440,"y":1300,"wires":[["1212627d4557de7c"]]},{"id":"fa1b140968f75dac","type":"function","z":"c7f8ce4fc06e7614","name":"Mostra apenas cadastro","func":"msg.payload = \n    {\"group\":\n        {\"hide\":\n        [\n            \"Usuários_Editar\",\n            \"Usuários_Tabela\",\n            \"Usuários_Incluir\"\n        ],\n        \"show\": [\n            \"Usuários_Cadastro_de_Usuários\"\n        ]\n        }\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1560,"wires":[["d7c7d1523ffa45d0"]]},{"id":"ccc90c028245be65","type":"function","z":"c7f8ce4fc06e7614","name":"Editar","func":"msg.payload = {\"group\":{\"hide\":[\"Usuários_Incluir\"],\"show\":[\"Usuários_Tabela\",\"Usuários_Editar\"]}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":1140,"wires":[["14d43b1d421541ec"]]},{"id":"033c50f093d55daf","type":"function","z":"c7f8ce4fc06e7614","name":"","func":"\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Usuários_Incluir\"\n        ],\n        \"show\": [\n            \"Usuários_Cadastro_de_Usuários\"\n        ]\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":660,"wires":[["c6527287223610fd"]]},{"id":"7ee6f3e20a9f8835","type":"link in","z":"c7f8ce4fc06e7614","name":"L1","links":["14d43b1d421541ec"],"x":155,"y":1480,"wires":[["d7c7d1523ffa45d0"]]},{"id":"14d43b1d421541ec","type":"link out","z":"c7f8ce4fc06e7614","name":"","mode":"link","links":["7ee6f3e20a9f8835"],"x":1485,"y":1140,"wires":[]},{"id":"932737eff64351ee","type":"trigger","z":"c7f8ce4fc06e7614","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":1640,"wires":[["fa1b140968f75dac"]]},{"id":"7f618c1343427d87","type":"inject","z":"c7f8ce4fc06e7614","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":1560,"wires":[["fa1b140968f75dac"]]},{"id":"49185bf9f7a61580","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"cb3493806ceea85b","order":7,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":190,"y":1180,"wires":[["fa1b140968f75dac"]]},{"id":"60b71489d0350f13","type":"ui_table","z":"c7f8ce4fc06e7614","group":"66b7fb5d347f8114","name":"Dados de humidade e temperatura","order":1,"width":"20","height":"10","columns":[{"field":"id","title":"n°","width":"60","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Timestamp","title":"Data / Hora","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temperatura","title":"Temperatura (ºC)","width":"","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"umidade","title":"Umidade (%)","width":"","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1680,"y":260,"wires":[]},{"id":"a558b39c969ab716","type":"json","z":"c7f8ce4fc06e7614","name":"","property":"payload","action":"obj","pretty":false,"x":1470,"y":260,"wires":[["60b71489d0350f13"]]},{"id":"c0af4267507ce54a","type":"function","z":"c7f8ce4fc06e7614","name":"Temperatura","func":"msg.payload = msg.payload[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":60,"wires":[["08f4bc876baa089c","5e3044b6a87ccf9f","b5e55c563bf3ace4"]]},{"id":"d225a63b15490de5","type":"function","z":"c7f8ce4fc06e7614","name":"Umidade","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":180,"wires":[["1986566eb4af6d6d","9b3b959af7f5d918","3e4380ebd171a2a6"]]},{"id":"1adb15112c3a786d","type":"delay","z":"c7f8ce4fc06e7614","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1140,"y":340,"wires":[["af6d9bba76369a31"]]},{"id":"9b3b959af7f5d918","type":"ui_gauge","z":"c7f8ce4fc06e7614","name":"","group":"ad1f18bf113870f3","order":1,"width":6,"height":4,"gtype":"wave","title":"Umidade Atual","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1440,"y":140,"wires":[]},{"id":"5e3044b6a87ccf9f","type":"ui_gauge","z":"c7f8ce4fc06e7614","name":"","group":"989b05521e1e8255","order":1,"width":5,"height":4,"gtype":"gage","title":"Temperatura Atual","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1450,"y":20,"wires":[]},{"id":"b5e55c563bf3ace4","type":"ui_chart","z":"c7f8ce4fc06e7614","name":"","group":"989b05521e1e8255","order":2,"width":7,"height":4,"label":"Temperatura","chartType":"line","legend":"false","xformat":"auto","interpolate":"step","nodata":"","dot":true,"ymin":"5","ymax":"40","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1630,"y":60,"wires":[[]]},{"id":"3e4380ebd171a2a6","type":"ui_chart","z":"c7f8ce4fc06e7614","name":"","group":"ad1f18bf113870f3","order":2,"width":6,"height":4,"label":"Umidade","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0d81d3","#aec7e8","#e4710c","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1620,"y":180,"wires":[[]]},{"id":"ad7c008dc8ae463d","type":"function","z":"c7f8ce4fc06e7614","name":"CPF Validador","func":"function validarCPF(cpf) \n{\t\n\tcpf = cpf.replace(/[^\\d]+/g,'');\t\n\tif(cpf == '') return false;\t\n\t// Elimina CPFs invalidos conhecidos\t\n\tif (cpf.length != 11 || \n\t\tcpf == \"00000000000\" || \n\t\tcpf == \"11111111111\" || \n\t\tcpf == \"22222222222\" || \n\t\tcpf == \"33333333333\" || \n\t\tcpf == \"44444444444\" || \n\t\tcpf == \"55555555555\" || \n\t\tcpf == \"66666666666\" || \n\t\tcpf == \"77777777777\" || \n\t\tcpf == \"88888888888\" || \n\t\tcpf == \"99999999999\")\n\t\t\treturn false;\t\t\n\t// Valida 1o digito\t\n\tadd = 0;\t\n\tfor (i=0; i < 9; i ++)\t\t\n\t\tadd += parseInt(cpf.charAt(i)) * (10 - i);\t\n\t\trev = 11 - (add % 11);\t\n\t\tif (rev == 10 || rev == 11)\t\t\n\t\t\trev = 0;\t\n\t\tif (rev != parseInt(cpf.charAt(9)))\t\t\n\t\t\treturn false;\t\t\n\t// Valida 2o digito\t\n\tadd = 0;\t\n\tfor (i = 0; i < 10; i ++)\t\t\n\t\tadd += parseInt(cpf.charAt(i)) * (11 - i);\t\n\trev = 11 - (add % 11);\t\n\tif (rev == 10 || rev == 11)\t\n\t\trev = 0;\t\n\tif (rev != parseInt(cpf.charAt(10)))\n\t\treturn false;\t\t\n\treturn true;   \n}\nvar validade;\n\nvalidade =  (validarCPF(String( msg.payload.user_cpf)));\n\nif( validade == false)\n    {\n    msg.error = 'cpf';\n    msg.user_cpf = \"\";\n    msg.payload = \"\";\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1040,"wires":[["c1d0e3ce19defc9e","51118bbac71a5968"]]},{"id":"b574f40ff8a0527a","type":"ui_toast","z":"c7f8ce4fc06e7614","position":"dialog","displayTime":"5","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1050,"y":660,"wires":[["033c50f093d55daf"]]},{"id":"6ab0464760094c16","type":"comment","z":"c7f8ce4fc06e7614","name":"Lista de Erros","info":"","x":210,"y":600,"wires":[]},{"id":"c1d0e3ce19defc9e","type":"function","z":"c7f8ce4fc06e7614","name":"notificações","func":"switch(msg.error)\n{\n    case \"cpf\":\n        nt = \"Erro no cadastro. O CPF informado está inválido!\\n\\r Por favor informe um CPF válido.\";\n        break;\n    case \"cadastro\":\n        nt = \"Erro no cadastro. O CPF informado  já está cadastrado!\";\n        break;\n}\nmsg.payload = nt;\nmsg.topic = \"Mensagem:\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":660,"wires":[["b574f40ff8a0527a"]]},{"id":"cc550fe9d3920c51","type":"debug","z":"c7f8ce4fc06e7614","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":900,"wires":[]},{"id":"fc01ea97a11e5c40","type":"link in","z":"c7f8ce4fc06e7614","name":"cadastro","links":["c6527287223610fd"],"x":155,"y":1440,"wires":[["d7c7d1523ffa45d0"]]},{"id":"c6527287223610fd","type":"link out","z":"c7f8ce4fc06e7614","name":"cadastro1","mode":"link","links":["fc01ea97a11e5c40"],"x":1295,"y":660,"wires":[]},{"id":"bc098953e6a5407c","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"e5ec328091ba2efa","order":7,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":190,"y":1140,"wires":[["fa1b140968f75dac"]]},{"id":"db919fcded40e12d","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"c09795df6ec013d4","order":7,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":190,"y":1100,"wires":[["fa1b140968f75dac"]]},{"id":"45c06521aaf222a8","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"76521e6ad2cda0bf","order":1,"width":12,"height":1},{"id":"38e91bd950b7deb0","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"76521e6ad2cda0bf","order":4,"width":"12","height":"1"},{"id":"dd48a9ea96c791c4","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"cb3493806ceea85b","order":1,"width":12,"height":1},{"id":"b7a571176ae90e3d","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"cb3493806ceea85b","order":4,"width":12,"height":1},{"id":"ddfbc769d8ff2cd2","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"cb3493806ceea85b","order":8,"width":3,"height":1},{"id":"0c1a50c61da81c3f","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"e5ec328091ba2efa","order":2,"width":"6","height":"3"},{"id":"84d3c853.83bf3","type":"sqlitedb","db":"C:\\Users\\brsilvrg\\dados/bd_teste.db","mode":"RWC"},{"id":"ad1f18bf113870f3","type":"ui_group","name":"Umidade","tab":"8fe45089fc017b43","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"989b05521e1e8255","type":"ui_group","name":"Temperatura","tab":"8fe45089fc017b43","order":2,"disp":true,"width":"12","collapse":false,"className":""},{"id":"e5ec328091ba2efa","type":"ui_group","name":"Incluir","tab":"552cc714f0bc9551","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"c09795df6ec013d4","type":"ui_group","name":"Tabela","tab":"552cc714f0bc9551","order":4,"disp":true,"width":12,"collapse":false,"className":""},{"id":"76521e6ad2cda0bf","type":"ui_group","name":"Cadastro de Usuários","tab":"552cc714f0bc9551","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"cb3493806ceea85b","type":"ui_group","name":"Editar","tab":"552cc714f0bc9551","order":3,"disp":true,"width":12,"collapse":false,"className":""},{"id":"66b7fb5d347f8114","type":"ui_group","name":"Tabela","tab":"e6e87327e2f51da8","order":1,"disp":true,"width":"20","collapse":false,"className":""},{"id":"8fe45089fc017b43","type":"ui_tab","name":"Monitor","icon":"equalizer","order":1,"disabled":false,"hidden":false},{"id":"552cc714f0bc9551","type":"ui_tab","name":"Usuários","icon":"person","order":3,"disabled":false,"hidden":false},{"id":"e6e87327e2f51da8","type":"ui_tab","name":"Dados","icon":"storage","order":2,"disabled":false,"hidden":false}]