Saude_ar_condicionado_flow.json
[{"id":"c7f8ce4fc06e7614","type":"tab","label":"Projeto eficiencia do ar condicionado","disabled":false,"info":"","env":[]},{"id":"51118bbac71a5968","type":"function","z":"c7f8ce4fc06e7614","name":"user_table_new_user","func":"if (msg.payload !='')\n{\nmsg.topic = 'INSERT INTO user_table(cpf,name,surename,room_table_id) VALUES($cpf,$name,$surename,$room_table_id)';\nmsg.payload = [msg.payload.user_cpf, msg.payload.user_name, msg.payload.user_surename, msg.room_table_id];\nreturn msg;\n}\n\nif (msg.payload =='')\n{\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1040,"wires":[["b4eedf8e80f10351"]]},{"id":"b4eedf8e80f10351","type":"sqlite","z":"c7f8ce4fc06e7614","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"db_teste_user","x":900,"y":1220,"wires":[["e8002090b13bb347"]]},{"id":"a58beafb20b06e9e","type":"catch","z":"c7f8ce4fc06e7614","name":"error_user_table","scope":["b4eedf8e80f10351"],"uncaught":false,"x":200,"y":820,"wires":[["6d0406ef6b32af11"]]},{"id":"6d0406ef6b32af11","type":"function","z":"c7f8ce4fc06e7614","name":"user_table_error","func":"if (msg.error != 'Error: SQLITE_CONSTRAINT: UNIQUE constraint failed: user_table.cpf')\n{\n    msg.error = \"cadastro\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":820,"wires":[["c1d0e3ce19defc9e"]]},{"id":"a2068e252803f19c","type":"comment","z":"c7f8ce4fc06e7614","name":"Cadastro de Sensores","info":"","x":220,"y":940,"wires":[]},{"id":"1212627d4557de7c","type":"function","z":"c7f8ce4fc06e7614","name":"select","func":"msg.topic = \"SELECT * FROM user_table\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1160,"wires":[["b4eedf8e80f10351"]]},{"id":"a2a06e5a1efb815e","type":"ui_form","z":"c7f8ce4fc06e7614","name":"user_table_insert","label":"","group":"e5ec328091ba2efa","order":1,"width":6,"height":1,"options":[{"label":"Nome","value":"user_name","type":"text","required":true,"rows":null},{"label":"Sobrenome","value":"user_surename","type":"text","required":true,"rows":null},{"label":"CPF","value":"user_cpf","type":"text","required":true,"rows":null}],"formValue":{"user_name":"","user_surename":"","user_cpf":""},"payload":"","submit":"Gravar","cancel":"Cancelar","topic":"payload","topicType":"msg","splitLayout":false,"className":"","x":230,"y":1040,"wires":[["ad7c008dc8ae463d"]]},{"id":"5f5cd40ab8ee6a1a","type":"ui_table","z":"c7f8ce4fc06e7614","group":"c09795df6ec013d4","name":"Usuários Cadastrados","order":1,"width":12,"height":8,"columns":[{"field":"name","title":"Nome","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"surename","title":"Sobrenome","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"cpf","title":"CPF","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1160,"y":1040,"wires":[["6d80ab9d58eb4368","ccc90c028245be65"]]},{"id":"e8002090b13bb347","type":"json","z":"c7f8ce4fc06e7614","name":"","property":"payload","action":"obj","pretty":false,"x":970,"y":1040,"wires":[["5f5cd40ab8ee6a1a"]]},{"id":"aeb9fe3ff8913fdd","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"76521e6ad2cda0bf","order":2,"width":3,"height":1,"passthru":false,"label":"Novo","tooltip":"","color":"","bgcolor":"","className":"","icon":"add","payload":"{\"group\":{\"hide\":[\"Usuários_Editar\",\"Usuários_Tabela\",\"Usuários_Cadastro_de_Usuários\"],\"show\":[\"Usuários_Incluir\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":1400,"wires":[["d7c7d1523ffa45d0"]]},{"id":"2eb23f79e23ebc07","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"76521e6ad2cda0bf","order":3,"width":3,"height":1,"passthru":false,"label":"Editar","tooltip":"","color":"","bgcolor":"","className":"","icon":"edit","payload":"{\"group\":{\"hide\":[\"Usuários_Incluir\",\"Usuários_Cadastro_de_Usuários\"],\"show\":[\"Usuários_Tabela\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":1360,"wires":[["d7c7d1523ffa45d0","1212627d4557de7c"]]},{"id":"d7c7d1523ffa45d0","type":"ui_ui_control","z":"c7f8ce4fc06e7614","name":"","events":"change","x":420,"y":1480,"wires":[["fa1b140968f75dac","932737eff64351ee"]]},{"id":"c42f08e021199b6f","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"cb3493806ceea85b","order":5,"width":3,"height":1,"passthru":true,"label":"Atualizar","tooltip":"","color":"","bgcolor":"","className":"","icon":"sync","payload":"","payloadType":"str","topic":"","topicType":"str","x":200,"y":1220,"wires":[["9ed28248caf9a9f3"]]},{"id":"41cbebdb9c0f0810","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"cb3493806ceea85b","order":6,"width":3,"height":1,"passthru":false,"label":"Deletar","tooltip":"","color":"","bgcolor":"","className":"","icon":"clear","payload":"{\"group\":{\"hide\":[\"Usuários_Editar\",\"Usuários_Tabela\",\"Usuários_Incluir\"],\"show\":[\"Usuários_Cadastro_de_Usuários\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":200,"y":1260,"wires":[["56d36f9366cbec46","d7c7d1523ffa45d0"]]},{"id":"1afc061668474baa","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Nome","tooltip":"","group":"cb3493806ceea85b","order":2,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1830,"y":1000,"wires":[["675edb65e31631e5"]]},{"id":"ec604fdc6a32cd39","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_nome","func":"msg.payload = msg.payload.name;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":1000,"wires":[["1afc061668474baa"]]},{"id":"0ccb16489e582dca","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_sobrenome","func":"msg.payload = msg.payload.surename;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":1040,"wires":[["9376952f0be4b825"]]},{"id":"9376952f0be4b825","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Sobrenome","tooltip":"","group":"cb3493806ceea85b","order":3,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1850,"y":1040,"wires":[["eca90b29a9f2e92b"]]},{"id":"675edb65e31631e5","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_nome","func":"global.set('name',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2020,"y":1000,"wires":[[]]},{"id":"6d80ab9d58eb4368","type":"function","z":"c7f8ce4fc06e7614","name":"table values to edit","func":"global.set('cpf',msg.payload.cpf);\nglobal.set('name',msg.payload.name);\nglobal.set('surename',msg.payload.surename);\nglobal.set('id',parseInt(msg.payload.id)+1);\nglobal.set('room_table_id',msg.payload.room_table_id);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":1040,"wires":[["ec604fdc6a32cd39","0ccb16489e582dca"]]},{"id":"eca90b29a9f2e92b","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_sobrenome","func":"global.set('surename',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":1040,"wires":[[]]},{"id":"9ed28248caf9a9f3","type":"function","z":"c7f8ce4fc06e7614","name":"update","func":"var id = global.get('id');\nvar name = global.get('name');\nvar surename = global.get('surename');\nvar cpf = global.get('cpf');\nvar room_table_id = global.get('room_table_id');\n\n\n//msg.id = id;\nmsg.cpf = cpf;\nmsg.name = name;\nmsg.surename = surename;\nmsg.room_table_id = room_table_id; \n\nmsg.topic = 'UPDATE user_table SET name = $name, surename = $surename, cpf = $cpf, room_table_id = $room_id  WHERE cpf = $cpf';\nmsg.payload = [msg.name, msg.surename, msg.cpf, msg.room_table_id, msg.id];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1220,"wires":[["b4eedf8e80f10351","73f985bbed5c0ef2"]]},{"id":"56d36f9366cbec46","type":"function","z":"c7f8ce4fc06e7614","name":"delete","func":"var cpf = global.get('cpf');\n\nmsg.cpf = cpf;\n\nmsg.topic = 'DELETE FROM user_table WHERE cpf = $cpf';\nmsg.payload = [msg.cpf];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1260,"wires":[["b4eedf8e80f10351","73f985bbed5c0ef2"]]},{"id":"73f985bbed5c0ef2","type":"delay","z":"c7f8ce4fc06e7614","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":440,"y":1300,"wires":[["1212627d4557de7c"]]},{"id":"fa1b140968f75dac","type":"function","z":"c7f8ce4fc06e7614","name":"Mostra apenas cadastro","func":"msg.payload = \n    {\"group\":\n        {\"hide\":\n        [\n            \"Usuários_Editar\",\n            \"Usuários_Tabela\",\n            \"Usuários_Incluir\"\n        ],\n        \"show\": [\n            \"Usuários_Cadastro_de_Usuários\"\n        ]\n        }\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1560,"wires":[["d7c7d1523ffa45d0"]]},{"id":"ccc90c028245be65","type":"function","z":"c7f8ce4fc06e7614","name":"Editar","func":"msg.payload = {\"group\":{\"hide\":[\"Usuários_Incluir\"],\"show\":[\"Usuários_Tabela\",\"Usuários_Editar\"]}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":1140,"wires":[["14d43b1d421541ec"]]},{"id":"033c50f093d55daf","type":"function","z":"c7f8ce4fc06e7614","name":"","func":"\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Usuários_Incluir\"\n        ],\n        \"show\": [\n            \"Usuários_Cadastro_de_Usuários\"\n        ]\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":820,"wires":[["c6527287223610fd"]]},{"id":"7ee6f3e20a9f8835","type":"link in","z":"c7f8ce4fc06e7614","name":"L1","links":["14d43b1d421541ec"],"x":155,"y":1480,"wires":[["d7c7d1523ffa45d0"]]},{"id":"14d43b1d421541ec","type":"link out","z":"c7f8ce4fc06e7614","name":"","mode":"link","links":["7ee6f3e20a9f8835"],"x":1485,"y":1140,"wires":[]},{"id":"932737eff64351ee","type":"trigger","z":"c7f8ce4fc06e7614","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":1640,"wires":[["fa1b140968f75dac"]]},{"id":"7f618c1343427d87","type":"inject","z":"c7f8ce4fc06e7614","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":1560,"wires":[["fa1b140968f75dac"]]},{"id":"49185bf9f7a61580","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"cb3493806ceea85b","order":7,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":190,"y":1180,"wires":[["fa1b140968f75dac"]]},{"id":"ad7c008dc8ae463d","type":"function","z":"c7f8ce4fc06e7614","name":"CPF Validador","func":"function validarCPF(cpf) \n{\t\n\tcpf = cpf.replace(/[^\\d]+/g,'');\t\n\tif(cpf == '') return false;\t\n\t// Elimina CPFs invalidos conhecidos\t\n\tif (cpf.length != 11 || \n\t\tcpf == \"00000000000\" || \n\t\tcpf == \"11111111111\" || \n\t\tcpf == \"22222222222\" || \n\t\tcpf == \"33333333333\" || \n\t\tcpf == \"44444444444\" || \n\t\tcpf == \"55555555555\" || \n\t\tcpf == \"66666666666\" || \n\t\tcpf == \"77777777777\" || \n\t\tcpf == \"88888888888\" || \n\t\tcpf == \"99999999999\")\n\t\t\treturn false;\t\t\n\t// Valida 1o digito\t\n\tadd = 0;\t\n\tfor (i=0; i < 9; i ++)\t\t\n\t\tadd += parseInt(cpf.charAt(i)) * (10 - i);\t\n\t\trev = 11 - (add % 11);\t\n\t\tif (rev == 10 || rev == 11)\t\t\n\t\t\trev = 0;\t\n\t\tif (rev != parseInt(cpf.charAt(9)))\t\t\n\t\t\treturn false;\t\t\n\t// Valida 2o digito\t\n\tadd = 0;\t\n\tfor (i = 0; i < 10; i ++)\t\t\n\t\tadd += parseInt(cpf.charAt(i)) * (11 - i);\t\n\trev = 11 - (add % 11);\t\n\tif (rev == 10 || rev == 11)\t\n\t\trev = 0;\t\n\tif (rev != parseInt(cpf.charAt(10)))\n\t\treturn false;\t\t\n\treturn true;   \n}\nvar validade;\n\nvalidade =  (validarCPF(String( msg.payload.user_cpf)));\n\nif( validade == false)\n    {\n    msg.error = 'cpf';\n    msg.user_cpf = \"\";\n    msg.payload = \"\";\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1040,"wires":[["c1d0e3ce19defc9e","51118bbac71a5968"]]},{"id":"b574f40ff8a0527a","type":"ui_toast","z":"c7f8ce4fc06e7614","position":"dialog","displayTime":"5","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1030,"y":820,"wires":[["033c50f093d55daf"]]},{"id":"6ab0464760094c16","type":"comment","z":"c7f8ce4fc06e7614","name":"Lista de Erros","info":"","x":190,"y":760,"wires":[]},{"id":"c1d0e3ce19defc9e","type":"function","z":"c7f8ce4fc06e7614","name":"notificações","func":"var nt;\n\nswitch(msg.error)\n{\n    case \"cpf\":\n        nt = \"Erro no cadastro. O CPF informado está inválido!\\n\\r Por favor informe um CPF válido.\";\n        break;\n    case \"cadastro\":\n        nt = \"Erro no cadastro. O CPF informado  já está cadastrado!\";\n        break;\n}\nmsg.payload = nt;\nmsg.topic = \"Mensagem:\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":820,"wires":[["b574f40ff8a0527a"]]},{"id":"fc01ea97a11e5c40","type":"link in","z":"c7f8ce4fc06e7614","name":"cadastro","links":["c6527287223610fd"],"x":155,"y":1440,"wires":[["d7c7d1523ffa45d0"]]},{"id":"c6527287223610fd","type":"link out","z":"c7f8ce4fc06e7614","name":"cadastro1","mode":"link","links":["fc01ea97a11e5c40","d9ac8bbe2f4b4e7c"],"x":1275,"y":820,"wires":[]},{"id":"bc098953e6a5407c","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"e5ec328091ba2efa","order":7,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":190,"y":1140,"wires":[["fa1b140968f75dac"]]},{"id":"db919fcded40e12d","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"c09795df6ec013d4","order":7,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":190,"y":1100,"wires":[["fa1b140968f75dac"]]},{"id":"18fac261af6f38c1","type":"function","z":"c7f8ce4fc06e7614","name":"user_table_new_ac","func":"if (msg.payload !='')\n{\nmsg.topic = 'INSERT INTO ac_table(sn,marca,capacidade,local) VALUES($sn,$marca,$capacidade,$local)';\nmsg.payload = [msg.payload.sn, msg.payload.marca, msg.payload.capacidade, msg.payload.local];\nreturn msg;\n}\n\nif (msg.payload =='')\n{\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1820,"wires":[["3bbe986c7c4cc604","fce53b6f4fcf484c"]]},{"id":"3bbe986c7c4cc604","type":"sqlite","z":"c7f8ce4fc06e7614","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"novodb","x":840,"y":2000,"wires":[["fa617621d3d7df0d"]]},{"id":"45e7c4bf8852660d","type":"function","z":"c7f8ce4fc06e7614","name":"select","func":"msg.topic = \"SELECT * FROM ac_table\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1940,"wires":[["3bbe986c7c4cc604"]]},{"id":"cd4fb7c7126d06f2","type":"ui_form","z":"c7f8ce4fc06e7614","name":"equipamento_table_insert","label":"","group":"1a151323fbe0ab1a","order":1,"width":6,"height":1,"options":[{"label":"Marca","value":"marca","type":"text","required":true,"rows":null},{"label":"Capacidade","value":"capacidade","type":"text","required":true,"rows":null},{"label":"Local","value":"local","type":"text","required":true,"rows":null},{"label":"Nº de Série","value":"sn","type":"text","required":true,"rows":null}],"formValue":{"marca":"","capacidade":"","local":"","sn":""},"payload":"","submit":"Gravar","cancel":"Cancelar","topic":"payload","topicType":"msg","splitLayout":false,"className":"","x":210,"y":1820,"wires":[["18fac261af6f38c1"]]},{"id":"b22d341b0d85bfd2","type":"ui_table","z":"c7f8ce4fc06e7614","group":"b3fcaf8526238603","name":"Equipamentos Cadastrados","order":1,"width":12,"height":7,"columns":[{"field":"sn","title":"Nº de Série","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"marca","title":"Marca","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"capacidade","title":"Capacidade","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"local","title":"Local","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1100,"y":1820,"wires":[["412f2c4f896395d3","3e218cfe93bfef71"]]},{"id":"fa617621d3d7df0d","type":"json","z":"c7f8ce4fc06e7614","name":"","property":"payload","action":"obj","pretty":false,"x":850,"y":1860,"wires":[["b22d341b0d85bfd2","0850c9eb078347f4","a7ea62bbe171364b"]]},{"id":"229fe148b48126c2","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"3fe840e945fecb51","order":2,"width":3,"height":1,"passthru":false,"label":"Novo","tooltip":"","color":"","bgcolor":"","className":"","icon":"add","payload":"{\"group\":{\"hide\":[\"Equipamentos_Editar\",\"Equipamentos_Tabela\",\"Equipamentos_Cadastro_de_Equipamentos\"],\"show\":[\"Equipamentos_Incluir\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":150,"y":2180,"wires":[["f65ad7ad1799c221"]]},{"id":"7f2d1989a5b1a59a","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"3fe840e945fecb51","order":3,"width":3,"height":1,"passthru":false,"label":"Editar","tooltip":"","color":"","bgcolor":"","className":"","icon":"edit","payload":"{\"group\":{\"hide\":[\"Equipamentos_Incluir\",\"Equipamentos_Cadastro_de_Usuários\"],\"show\":[\"Equipamentos_Tabela\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":150,"y":2140,"wires":[["f65ad7ad1799c221","45e7c4bf8852660d"]]},{"id":"f65ad7ad1799c221","type":"ui_ui_control","z":"c7f8ce4fc06e7614","name":"","events":"change","x":380,"y":2260,"wires":[["e9be2c739222cb87","311fd65ace7714aa","cb10a39fbc9ff2e7"]]},{"id":"ff3252f83d0fe449","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"933ffdc2cd878b30","order":7,"width":3,"height":1,"passthru":true,"label":"Atualizar","tooltip":"","color":"","bgcolor":"","className":"","icon":"sync","payload":"","payloadType":"str","topic":"","topicType":"str","x":160,"y":2000,"wires":[["d0a2a7887d96783d"]]},{"id":"6d1d5da749bf5c5b","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"933ffdc2cd878b30","order":8,"width":3,"height":1,"passthru":false,"label":"Deletar","tooltip":"","color":"","bgcolor":"","className":"","icon":"clear","payload":"{\"group\":{\"hide\":[\"Equipamentos_Editar\",\"Equipamentos_Tabela\",\"Equipamentos_Incluir\"],\"show\":[\"Equipamentos_Cadastro_de_Usuários\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":160,"y":2040,"wires":[["79a8bbdf5ff65fc7","f65ad7ad1799c221"]]},{"id":"ebfa5f70a289b941","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Marca","tooltip":"","group":"933ffdc2cd878b30","order":2,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1790,"y":1780,"wires":[["4d95ac793c1fb525"]]},{"id":"02ec028792b8e02e","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_marca","func":"msg.payload = msg.payload.marca;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":1780,"wires":[["ebfa5f70a289b941"]]},{"id":"a6032bed39e8b722","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_capacidade","func":"msg.payload = msg.payload.capacidade;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1820,"wires":[["6c7b537fb14dd7c1"]]},{"id":"6c7b537fb14dd7c1","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Capacidade","tooltip":"","group":"933ffdc2cd878b30","order":4,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1810,"y":1820,"wires":[["d599695dd1de4460"]]},{"id":"4d95ac793c1fb525","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_marca","func":"global.set('marca',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1990,"y":1780,"wires":[[]]},{"id":"412f2c4f896395d3","type":"function","z":"c7f8ce4fc06e7614","name":"table values to edit","func":"global.set('sn',msg.payload.sn);\nglobal.set('marca',msg.payload.marca);\nglobal.set('capacidade',msg.payload.capacidade);\nglobal.set('local',msg.payload.local);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":1820,"wires":[["02ec028792b8e02e","a6032bed39e8b722","63b20e7db6c5bb8e"]]},{"id":"d599695dd1de4460","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_capacidade","func":"global.set('capacidade',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":1820,"wires":[[]]},{"id":"d0a2a7887d96783d","type":"function","z":"c7f8ce4fc06e7614","name":"update","func":"var sn = global.get('sn');\nvar marca = global.get('marca');\nvar capacidade = global.get('capacidade');\nvar local = global.get('local');\n\n\nmsg.sn = sn;\nmsg.marca = marca;\nmsg.capacidade = capacidade;\nmsg.local = local; \n\nmsg.topic = 'UPDATE ac_table SET marca = $marca, capacidade = $capacidade, local = $local  WHERE sn = $sn';\nmsg.payload = [msg.marca, msg.capacidade, msg.local, msg.sn];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":2000,"wires":[["3bbe986c7c4cc604","5322d97e3221d26e"]]},{"id":"79a8bbdf5ff65fc7","type":"function","z":"c7f8ce4fc06e7614","name":"delete","func":"var sn = global.get('sn');\n\nmsg.sn = sn;\n\nmsg.topic = 'DELETE FROM ac_table WHERE sn = $sn';\nmsg.payload = [msg.sn];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":2040,"wires":[["3bbe986c7c4cc604","5322d97e3221d26e"]]},{"id":"5322d97e3221d26e","type":"delay","z":"c7f8ce4fc06e7614","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":400,"y":2080,"wires":[["45e7c4bf8852660d"]]},{"id":"e9be2c739222cb87","type":"function","z":"c7f8ce4fc06e7614","name":"Mostra apenas cadastro","func":"msg.payload = \n    {\"group\":\n        {\"hide\":\n        [\n            \"Equipamentos_Editar\",\n            \"Equipamentos_Tabela\",\n            \"Equipamentos_Incluir\"\n        ],\n        \"show\": [\n            \"Equipamentos_Cadastro_de_Equipamentos\"\n        ]\n        }\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":2340,"wires":[["f65ad7ad1799c221"]]},{"id":"3e218cfe93bfef71","type":"function","z":"c7f8ce4fc06e7614","name":"Editar","func":"msg.payload = {\"group\":{\"hide\":[\"Equipamentos_Incluir\"],\"show\":[\"Equipamentos_Tabela\",\"Equipamentos_Editar\"]}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":1920,"wires":[["29627924edf7a7f4"]]},{"id":"b88e6948fdaa9105","type":"link in","z":"c7f8ce4fc06e7614","name":"L1","links":["29627924edf7a7f4"],"x":115,"y":2260,"wires":[["f65ad7ad1799c221"]]},{"id":"29627924edf7a7f4","type":"link out","z":"c7f8ce4fc06e7614","name":"","mode":"link","links":["b88e6948fdaa9105"],"x":1445,"y":1920,"wires":[]},{"id":"311fd65ace7714aa","type":"trigger","z":"c7f8ce4fc06e7614","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":400,"y":2420,"wires":[["e9be2c739222cb87"]]},{"id":"f45dc30cc97c86f4","type":"inject","z":"c7f8ce4fc06e7614","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":2340,"wires":[["e9be2c739222cb87"]]},{"id":"dd6ad571847a7f37","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"933ffdc2cd878b30","order":9,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":1960,"wires":[["e9be2c739222cb87"]]},{"id":"d9ac8bbe2f4b4e7c","type":"link in","z":"c7f8ce4fc06e7614","name":"cadastro","links":["c6527287223610fd"],"x":115,"y":2220,"wires":[["f65ad7ad1799c221"]]},{"id":"fbcac0cabc9b72b7","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"1a151323fbe0ab1a","order":3,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":1920,"wires":[["e9be2c739222cb87"]]},{"id":"4d94887bfbade79b","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"b3fcaf8526238603","order":2,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":1880,"wires":[["e9be2c739222cb87"]]},{"id":"63b20e7db6c5bb8e","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_local","func":"msg.payload = msg.payload.local;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":1860,"wires":[["68d74f0d574abfac"]]},{"id":"68d74f0d574abfac","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Local","tooltip":"","group":"933ffdc2cd878b30","order":3,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1790,"y":1860,"wires":[["b33d5470c713f765"]]},{"id":"b33d5470c713f765","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_local","func":"global.set('local',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1980,"y":1860,"wires":[[]]},{"id":"cb10a39fbc9ff2e7","type":"function","z":"c7f8ce4fc06e7614","name":"Select","func":"if (msg.name==\"Monitor\")\n    {\n    msg.topic = \"SELECT * FROM ac_table\";\n    return msg;\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":2260,"wires":[["3bbe986c7c4cc604"]]},{"id":"baa268706b9ea1ec","type":"function","z":"c7f8ce4fc06e7614","name":"mostra grupos AC","func":"switch(String(Object.keys(msg.payload).length))\n{\n    case \"1\":\n        msg.payload = {\"group\": {\"hide\": [\"Monitor_AC_2\",\"Monitor_AC_3\",\"Monitor_AC_4\"],\"show\":[\"Monitor_AC_1\"]}}\n        break;\n    case \"2\":\n        msg.payload = {\"group\": {\"hide\": [\"Monitor_AC_3\",\"Monitor_AC_4\"],\"show\":[\"Monitor_AC_1\",\"Monitor_AC_2\"]}}\n        break;\n    case \"3\":\n        msg.payload = {\"group\": {\"hide\": [\"Monitor_AC_4\"],\"show\":[\"Monitor_AC_1\",\"Monitor_AC_2\",\"Monitor_AC_3\"]}}\n        break;\n    case \"4\":\n        msg.payload = {\"group\": {\"show\": [\"Monitor_AC_1\",\"Monitor_AC_2\",\"Monitor_AC_3\",\"Monitor_AC_4\"]}}\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":2520,"wires":[["f65ad7ad1799c221"]]},{"id":"0850c9eb078347f4","type":"link out","z":"c7f8ce4fc06e7614","name":"Tab 5 ","mode":"link","links":["a18d3024780674e9","d4ca8bd16f226c4b"],"x":1115,"y":1920,"wires":[]},{"id":"a18d3024780674e9","type":"link in","z":"c7f8ce4fc06e7614","name":"","links":["0850c9eb078347f4"],"x":55,"y":2520,"wires":[["baa268706b9ea1ec"]]},{"id":"fce53b6f4fcf484c","type":"function","z":"c7f8ce4fc06e7614","name":"Create table AC x","func":"msg.topic = \"CREATE TABLE \" + \"ac\" + String(msg.payload[0]) + \"(id INTEGER PRIMARY KEY AUTOINCREMENT, Timestamp DATETIME DEFAULT (datetime(CURRENT_TIMESTAMP, 'localtime')), umi_int REAL, temp_int REAL, umi_ext REAL, temp_ext REAL)\";\nglobal.set(\"ac1\",\"ac\"+msg.payload[0]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":1700,"wires":[["3bbe986c7c4cc604"]]},{"id":"a7ea62bbe171364b","type":"function","z":"c7f8ce4fc06e7614","name":"","func":"if(msg.payload.length==1)\n{\n    global.set('ac1', 'ac' + String(msg.payload[0].sn));\n}\n\nif(msg.payload.length==2)\n{\n    global.set('ac1', 'ac' + String(msg.payload[0].sn));\n    global.set('ac2', 'ac' + String(msg.payload[1].sn));\n}\n\nif(msg.payload.length==3)\n{\n    global.set('ac1', 'ac' + String(msg.payload[0].sn));\n    global.set('ac2', 'ac' + String(msg.payload[1].sn));\n    global.set('ac3', 'ac' + String(msg.payload[2].sn));\n}\n\nif(msg.payload.length==4)\n{\n    global.set('ac1', 'ac' + String(msg.payload[0].sn));\n    global.set('ac2', 'ac' + String(msg.payload[1].sn));\n    global.set('ac3', 'ac' + String(msg.payload[2].sn));\n    global.set('ac3', 'ac' + String(msg.payload[3].sn));\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":2000,"wires":[[]]},{"id":"a1cdc9eb89353c4b","type":"inject","z":"c7f8ce4fc06e7614","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1050,"y":2100,"wires":[["f6e71e0e9293e346"]]},{"id":"f6e71e0e9293e346","type":"function","z":"c7f8ce4fc06e7614","name":"update","func":"var ac1 = global.get('ac1');\nvar ac2 = global.get('ac2');\nvar ac3 = global.get('ac3');\nvar ac4 = global.get('ac4');\n\nmsg.ac1 = ac1;\nmsg.ac2 = ac2;\nmsg.ac3 = ac3;\nmsg.ac4 = ac4; \n\nmsg.payload = [msg.ac1, msg.ac2, msg.ac3, msg.ac4];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":2100,"wires":[[]]},{"id":"45c06521aaf222a8","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"76521e6ad2cda0bf","order":1,"width":12,"height":1},{"id":"38e91bd950b7deb0","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"76521e6ad2cda0bf","order":4,"width":"12","height":"1"},{"id":"dd48a9ea96c791c4","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"cb3493806ceea85b","order":1,"width":12,"height":1},{"id":"b7a571176ae90e3d","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"cb3493806ceea85b","order":4,"width":12,"height":1},{"id":"ddfbc769d8ff2cd2","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"cb3493806ceea85b","order":8,"width":3,"height":1},{"id":"0c1a50c61da81c3f","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"e5ec328091ba2efa","order":2,"width":"6","height":"3"},{"id":"7ca6eaa1b41c9bf2","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"c4c0eda1d26c3ce1","order":3,"width":9,"height":1},{"id":"409069d81b5bf558","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"c4c0eda1d26c3ce1","order":5,"width":5,"height":1},{"id":"6a39a35271da64f4","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"3fe840e945fecb51","order":1,"width":12,"height":1},{"id":"15a0c76082a6988c","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"3fe840e945fecb51","order":4,"width":"12","height":"1"},{"id":"3763fd754d1caf15","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"1a151323fbe0ab1a","order":2,"width":"6","height":"3"},{"id":"ff84c17e52ce0ce0","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"933ffdc2cd878b30","order":1,"width":12,"height":1},{"id":"5959863fa9bfede0","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"933ffdc2cd878b30","order":5,"width":6,"height":1},{"id":"3d2487b7d6ce15bd","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"933ffdc2cd878b30","order":6,"width":12,"height":1},{"id":"be4505f3e50a67ac","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"933ffdc2cd878b30","order":10,"width":3,"height":1},{"id":"9a07ad0c8678d549","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"b3fcaf8526238603","order":3,"width":9,"height":1},{"id":"84d3c853.83bf3","type":"sqlitedb","db":"C:\\Users\\brsilvrg\\dados/novodb.db","mode":"RWC"},{"id":"e5ec328091ba2efa","type":"ui_group","name":"Incluir","tab":"552cc714f0bc9551","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"c09795df6ec013d4","type":"ui_group","name":"Tabela","tab":"552cc714f0bc9551","order":4,"disp":true,"width":12,"collapse":false,"className":""},{"id":"76521e6ad2cda0bf","type":"ui_group","name":"Cadastro de Usuários","tab":"552cc714f0bc9551","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"cb3493806ceea85b","type":"ui_group","name":"Editar","tab":"552cc714f0bc9551","order":3,"disp":true,"width":12,"collapse":false,"className":""},{"id":"1a151323fbe0ab1a","type":"ui_group","name":"Incluir","tab":"8b513baed06e9814","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"b3fcaf8526238603","type":"ui_group","name":"Tabela","tab":"8b513baed06e9814","order":4,"disp":true,"width":12,"collapse":false,"className":""},{"id":"3fe840e945fecb51","type":"ui_group","name":"Cadastro de Equipamentos","tab":"8b513baed06e9814","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"933ffdc2cd878b30","type":"ui_group","name":"Editar","tab":"8b513baed06e9814","order":3,"disp":true,"width":12,"collapse":false,"className":""},{"id":"c4c0eda1d26c3ce1","type":"ui_group","name":"Condicionador de Ar","tab":"","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"552cc714f0bc9551","type":"ui_tab","name":"Usuários","icon":"person","order":3,"disabled":false,"hidden":false},{"id":"8b513baed06e9814","type":"ui_tab","name":"Equipamentos","icon":"ac_unit","order":4,"disabled":false,"hidden":false}]