saude_ar_condicionado_17_04.json
[{"id":"c7f8ce4fc06e7614","type":"tab","label":"Projeto eficiencia do ar condicionado","disabled":false,"info":"","env":[]},{"id":"d3ba6e67509eae82","type":"function","z":"c7f8ce4fc06e7614","name":"Conversão dos valores dos sensores","func":"data = msg.payload.data.value;\n//msg.payload= data.substring(0,4);\n//msg.payload = ((parseInt(data.substring(0,4),16))*0.1).toFixed(0) + \" %\";\n//msg.payload = (parseInt(data.substring(8,12),16)*0.1).toFixed(2) + \" °C\";\n\numidade = ((parseInt(data.substring(0,4),16))*0.1).toFixed(0);\ntemperatura = (parseInt(data.substring(8,12),16)*0.1).toFixed(2);\n\nmsg.umidade = umidade;\nmsg.temperatura = temperatura;\nmsg.payload = [msg.umidade, msg.temperatura];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":180,"wires":[["da06b69b888ff5e3"]]},{"id":"401689164a135ddd","type":"http request","z":"c7f8ce4fc06e7614","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"192.168.0.2","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":670,"y":180,"wires":[["d3ba6e67509eae82"]]},{"id":"bf690ccaaf9be628","type":"function","z":"c7f8ce4fc06e7614","name":"Parâmetros Leitura Porta 1 Master IO-Link AL1351","func":"msg.payload = { \"code\":\"request\", \"cid\":4711, \"adr\":\"/iolinkmaster/port[1]/iolinkdevice/pdin/getdata\" };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":180,"wires":[["401689164a135ddd"]]},{"id":"988f3a36b227c1d0","type":"comment","z":"c7f8ce4fc06e7614","name":"Leitura e registro dosvalores de temperatura e umidade","info":"","x":220,"y":60,"wires":[]},{"id":"7dc3e90ce2b3eed5","type":"inject","z":"c7f8ce4fc06e7614","name":"Insert DB","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":180,"wires":[["bf690ccaaf9be628"]]},{"id":"99607da5e4202dc9","type":"sqlite","z":"c7f8ce4fc06e7614","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"sensor_db","x":1330,"y":260,"wires":[["a558b39c969ab716","427cecddd98ca754","e1968a119188b277","e8956f7f6b2994f8"]]},{"id":"da06b69b888ff5e3","type":"function","z":"c7f8ce4fc06e7614","name":"insert","func":"msg.topic = 'INSERT INTO sensor_data(umidade, temperatura) VALUES($umidade, $temperatura)';\nmsg.payload = [msg.umidade, msg.temperatura];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":220,"wires":[["99607da5e4202dc9","1adb15112c3a786d"]]},{"id":"af6d9bba76369a31","type":"function","z":"c7f8ce4fc06e7614","name":"select","func":"msg.topic = \"SELECT * FROM sensor_data\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":260,"wires":[["99607da5e4202dc9"]]},{"id":"20aa993dcf7a85b2","type":"inject","z":"c7f8ce4fc06e7614","name":"Select DB","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":260,"wires":[["af6d9bba76369a31"]]},{"id":"1986566eb4af6d6d","type":"ui_chart","z":"c7f8ce4fc06e7614","name":"","group":"b025a80747bfd924","order":22,"width":15,"height":5,"label":"Umidade período","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"500","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f0be0a","#aec7e8","#e4710c","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1930,"y":580,"wires":[[]]},{"id":"51118bbac71a5968","type":"function","z":"c7f8ce4fc06e7614","name":"user_table_new_user","func":"if (msg.payload !='')\n{\nmsg.topic = 'INSERT INTO user_table(cpf,name,surename,room_table_id) VALUES($cpf,$name,$surename,$room_table_id)';\nmsg.payload = [msg.payload.user_cpf, msg.payload.user_name, msg.payload.user_surename, msg.room_table_id];\nreturn msg;\n}\n\nif (msg.payload =='')\n{\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1040,"wires":[["b4eedf8e80f10351"]]},{"id":"b4eedf8e80f10351","type":"sqlite","z":"c7f8ce4fc06e7614","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"db_teste_user","x":900,"y":1220,"wires":[["e8002090b13bb347"]]},{"id":"a58beafb20b06e9e","type":"catch","z":"c7f8ce4fc06e7614","name":"error_user_table","scope":["b4eedf8e80f10351"],"uncaught":false,"x":200,"y":820,"wires":[["6d0406ef6b32af11"]]},{"id":"6d0406ef6b32af11","type":"function","z":"c7f8ce4fc06e7614","name":"user_table_error","func":"if (msg.error != 'Error: SQLITE_CONSTRAINT: UNIQUE constraint failed: user_table.cpf')\n{\n    msg.error = \"cadastro\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":820,"wires":[["c1d0e3ce19defc9e"]]},{"id":"08f4bc876baa089c","type":"ui_chart","z":"c7f8ce4fc06e7614","name":"","group":"b025a80747bfd924","order":23,"width":15,"height":5,"label":"Temperatura do período","chartType":"line","legend":"true","xformat":"\"\"","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"500","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#d16915","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1950,"y":440,"wires":[[]]},{"id":"a2068e252803f19c","type":"comment","z":"c7f8ce4fc06e7614","name":"Cadastro de Sensores","info":"","x":220,"y":940,"wires":[]},{"id":"1212627d4557de7c","type":"function","z":"c7f8ce4fc06e7614","name":"select","func":"msg.topic = \"SELECT * FROM user_table\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1160,"wires":[["b4eedf8e80f10351"]]},{"id":"a2a06e5a1efb815e","type":"ui_form","z":"c7f8ce4fc06e7614","name":"user_table_insert","label":"","group":"e5ec328091ba2efa","order":1,"width":6,"height":1,"options":[{"label":"Nome","value":"user_name","type":"text","required":true,"rows":null},{"label":"Sobrenome","value":"user_surename","type":"text","required":true,"rows":null},{"label":"CPF","value":"user_cpf","type":"text","required":true,"rows":null}],"formValue":{"user_name":"","user_surename":"","user_cpf":""},"payload":"","submit":"Gravar","cancel":"Cancelar","topic":"payload","topicType":"msg","splitLayout":false,"className":"","x":230,"y":1040,"wires":[["ad7c008dc8ae463d"]]},{"id":"5f5cd40ab8ee6a1a","type":"ui_table","z":"c7f8ce4fc06e7614","group":"c09795df6ec013d4","name":"Usuários Cadastrados","order":1,"width":12,"height":8,"columns":[{"field":"name","title":"Nome","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"surename","title":"Sobrenome","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"cpf","title":"CPF","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1160,"y":1040,"wires":[["6d80ab9d58eb4368","ccc90c028245be65"]]},{"id":"e8002090b13bb347","type":"json","z":"c7f8ce4fc06e7614","name":"","property":"payload","action":"obj","pretty":false,"x":970,"y":1040,"wires":[["5f5cd40ab8ee6a1a"]]},{"id":"aeb9fe3ff8913fdd","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"76521e6ad2cda0bf","order":2,"width":3,"height":1,"passthru":false,"label":"Novo","tooltip":"","color":"","bgcolor":"","className":"","icon":"add","payload":"{\"group\":{\"hide\":[\"Usuários_Editar\",\"Usuários_Tabela\",\"Usuários_Cadastro_de_Usuários\"],\"show\":[\"Usuários_Incluir\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":1400,"wires":[["d7c7d1523ffa45d0"]]},{"id":"2eb23f79e23ebc07","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"76521e6ad2cda0bf","order":3,"width":3,"height":1,"passthru":false,"label":"Editar","tooltip":"","color":"","bgcolor":"","className":"","icon":"edit","payload":"{\"group\":{\"hide\":[\"Usuários_Incluir\",\"Usuários_Cadastro_de_Usuários\"],\"show\":[\"Usuários_Tabela\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":1360,"wires":[["d7c7d1523ffa45d0","1212627d4557de7c"]]},{"id":"d7c7d1523ffa45d0","type":"ui_ui_control","z":"c7f8ce4fc06e7614","name":"","events":"change","x":420,"y":1480,"wires":[["fa1b140968f75dac","932737eff64351ee"]]},{"id":"c42f08e021199b6f","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"cb3493806ceea85b","order":5,"width":3,"height":1,"passthru":true,"label":"Atualizar","tooltip":"","color":"","bgcolor":"","className":"","icon":"sync","payload":"","payloadType":"str","topic":"","topicType":"str","x":200,"y":1220,"wires":[["9ed28248caf9a9f3"]]},{"id":"41cbebdb9c0f0810","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"cb3493806ceea85b","order":6,"width":3,"height":1,"passthru":false,"label":"Deletar","tooltip":"","color":"","bgcolor":"","className":"","icon":"clear","payload":"{\"group\":{\"hide\":[\"Usuários_Editar\",\"Usuários_Tabela\",\"Usuários_Incluir\"],\"show\":[\"Usuários_Cadastro_de_Usuários\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":200,"y":1260,"wires":[["56d36f9366cbec46","d7c7d1523ffa45d0"]]},{"id":"1afc061668474baa","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Nome","tooltip":"","group":"cb3493806ceea85b","order":2,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1830,"y":1000,"wires":[["675edb65e31631e5"]]},{"id":"ec604fdc6a32cd39","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_nome","func":"msg.payload = msg.payload.name;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":1000,"wires":[["1afc061668474baa"]]},{"id":"0ccb16489e582dca","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_sobrenome","func":"msg.payload = msg.payload.surename;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":1040,"wires":[["9376952f0be4b825"]]},{"id":"9376952f0be4b825","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Sobrenome","tooltip":"","group":"cb3493806ceea85b","order":3,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1850,"y":1040,"wires":[["eca90b29a9f2e92b"]]},{"id":"675edb65e31631e5","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_nome","func":"global.set('name',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2020,"y":1000,"wires":[[]]},{"id":"6d80ab9d58eb4368","type":"function","z":"c7f8ce4fc06e7614","name":"table values to edit","func":"global.set('cpf',msg.payload.cpf);\nglobal.set('name',msg.payload.name);\nglobal.set('surename',msg.payload.surename);\nglobal.set('id',parseInt(msg.payload.id)+1);\nglobal.set('room_table_id',msg.payload.room_table_id);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":1040,"wires":[["ec604fdc6a32cd39","0ccb16489e582dca"]]},{"id":"eca90b29a9f2e92b","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_sobrenome","func":"global.set('surename',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":1040,"wires":[[]]},{"id":"9ed28248caf9a9f3","type":"function","z":"c7f8ce4fc06e7614","name":"update","func":"var id = global.get('id');\nvar name = global.get('name');\nvar surename = global.get('surename');\nvar cpf = global.get('cpf');\nvar room_table_id = global.get('room_table_id');\n\n\n//msg.id = id;\nmsg.cpf = cpf;\nmsg.name = name;\nmsg.surename = surename;\nmsg.room_table_id = room_table_id; \n\nmsg.topic = 'UPDATE user_table SET name = $name, surename = $surename, cpf = $cpf, room_table_id = $room_id  WHERE cpf = $cpf';\nmsg.payload = [msg.name, msg.surename, msg.cpf, msg.room_table_id, msg.id];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1220,"wires":[["b4eedf8e80f10351","73f985bbed5c0ef2"]]},{"id":"56d36f9366cbec46","type":"function","z":"c7f8ce4fc06e7614","name":"delete","func":"var cpf = global.get('cpf');\n\nmsg.cpf = cpf;\n\nmsg.topic = 'DELETE FROM user_table WHERE cpf = $cpf';\nmsg.payload = [msg.cpf];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1260,"wires":[["b4eedf8e80f10351","73f985bbed5c0ef2"]]},{"id":"73f985bbed5c0ef2","type":"delay","z":"c7f8ce4fc06e7614","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":440,"y":1300,"wires":[["1212627d4557de7c"]]},{"id":"fa1b140968f75dac","type":"function","z":"c7f8ce4fc06e7614","name":"Mostra apenas cadastro","func":"msg.payload = \n    {\"group\":\n        {\"hide\":\n        [\n            \"Usuários_Editar\",\n            \"Usuários_Tabela\",\n            \"Usuários_Incluir\"\n        ],\n        \"show\": [\n            \"Usuários_Cadastro_de_Usuários\"\n        ]\n        }\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1560,"wires":[["d7c7d1523ffa45d0"]]},{"id":"ccc90c028245be65","type":"function","z":"c7f8ce4fc06e7614","name":"Editar","func":"msg.payload = {\"group\":{\"hide\":[\"Usuários_Incluir\"],\"show\":[\"Usuários_Tabela\",\"Usuários_Editar\"]}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":1140,"wires":[["14d43b1d421541ec"]]},{"id":"033c50f093d55daf","type":"function","z":"c7f8ce4fc06e7614","name":"","func":"\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Usuários_Incluir\"\n        ],\n        \"show\": [\n            \"Usuários_Cadastro_de_Usuários\"\n        ]\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":820,"wires":[["c6527287223610fd"]]},{"id":"7ee6f3e20a9f8835","type":"link in","z":"c7f8ce4fc06e7614","name":"L1","links":["14d43b1d421541ec"],"x":155,"y":1480,"wires":[["d7c7d1523ffa45d0"]]},{"id":"14d43b1d421541ec","type":"link out","z":"c7f8ce4fc06e7614","name":"","mode":"link","links":["7ee6f3e20a9f8835"],"x":1485,"y":1140,"wires":[]},{"id":"932737eff64351ee","type":"trigger","z":"c7f8ce4fc06e7614","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":1640,"wires":[["fa1b140968f75dac"]]},{"id":"7f618c1343427d87","type":"inject","z":"c7f8ce4fc06e7614","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":1560,"wires":[["fa1b140968f75dac"]]},{"id":"49185bf9f7a61580","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"cb3493806ceea85b","order":7,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":190,"y":1180,"wires":[["fa1b140968f75dac"]]},{"id":"60b71489d0350f13","type":"ui_table","z":"c7f8ce4fc06e7614","group":"66b7fb5d347f8114","name":"Dados de humidade e temperatura","order":1,"width":"20","height":"10","columns":[{"field":"id","title":"n°","width":"60","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Timestamp","title":"Data / Hora","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temperatura","title":"Temperatura (ºC)","width":"","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"umidade","title":"Umidade (%)","width":"","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1680,"y":260,"wires":[[]]},{"id":"a558b39c969ab716","type":"json","z":"c7f8ce4fc06e7614","name":"","property":"payload","action":"obj","pretty":false,"x":1470,"y":260,"wires":[["60b71489d0350f13"]]},{"id":"1adb15112c3a786d","type":"delay","z":"c7f8ce4fc06e7614","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1140,"y":340,"wires":[["af6d9bba76369a31"]]},{"id":"9b3b959af7f5d918","type":"ui_gauge","z":"c7f8ce4fc06e7614","name":"","group":"b025a80747bfd924","order":11,"width":6,"height":4,"gtype":"gage","title":"Umidade Atual","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#00b400","#ca3838"],"seg1":"50","seg2":"60","diff":false,"className":"","x":1920,"y":620,"wires":[]},{"id":"5e3044b6a87ccf9f","type":"ui_gauge","z":"c7f8ce4fc06e7614","name":"","group":"b025a80747bfd924","order":13,"width":6,"height":4,"gtype":"gage","title":"Temperatura Atual","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#e6e600","#00e600","#ca3838"],"seg1":"19","seg2":"23","diff":false,"className":"","x":1930,"y":480,"wires":[]},{"id":"b5e55c563bf3ace4","type":"ui_chart","z":"c7f8ce4fc06e7614","name":"","group":"b025a80747bfd924","order":14,"width":9,"height":4,"label":"Temperatura (24 horas)","chartType":"line","legend":"false","xformat":"''","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#da5b07","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1950,"y":400,"wires":[[]]},{"id":"3e4380ebd171a2a6","type":"ui_chart","z":"c7f8ce4fc06e7614","name":"","group":"b025a80747bfd924","order":12,"width":9,"height":4,"label":"Umidade (24 horas)","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f0bf0f","#aec7e8","#e4710c","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1940,"y":540,"wires":[[]]},{"id":"ad7c008dc8ae463d","type":"function","z":"c7f8ce4fc06e7614","name":"CPF Validador","func":"function validarCPF(cpf) \n{\t\n\tcpf = cpf.replace(/[^\\d]+/g,'');\t\n\tif(cpf == '') return false;\t\n\t// Elimina CPFs invalidos conhecidos\t\n\tif (cpf.length != 11 || \n\t\tcpf == \"00000000000\" || \n\t\tcpf == \"11111111111\" || \n\t\tcpf == \"22222222222\" || \n\t\tcpf == \"33333333333\" || \n\t\tcpf == \"44444444444\" || \n\t\tcpf == \"55555555555\" || \n\t\tcpf == \"66666666666\" || \n\t\tcpf == \"77777777777\" || \n\t\tcpf == \"88888888888\" || \n\t\tcpf == \"99999999999\")\n\t\t\treturn false;\t\t\n\t// Valida 1o digito\t\n\tadd = 0;\t\n\tfor (i=0; i < 9; i ++)\t\t\n\t\tadd += parseInt(cpf.charAt(i)) * (10 - i);\t\n\t\trev = 11 - (add % 11);\t\n\t\tif (rev == 10 || rev == 11)\t\t\n\t\t\trev = 0;\t\n\t\tif (rev != parseInt(cpf.charAt(9)))\t\t\n\t\t\treturn false;\t\t\n\t// Valida 2o digito\t\n\tadd = 0;\t\n\tfor (i = 0; i < 10; i ++)\t\t\n\t\tadd += parseInt(cpf.charAt(i)) * (11 - i);\t\n\trev = 11 - (add % 11);\t\n\tif (rev == 10 || rev == 11)\t\n\t\trev = 0;\t\n\tif (rev != parseInt(cpf.charAt(10)))\n\t\treturn false;\t\t\n\treturn true;   \n}\nvar validade;\n\nvalidade =  (validarCPF(String( msg.payload.user_cpf)));\n\nif( validade == false)\n    {\n    msg.error = 'cpf';\n    msg.user_cpf = \"\";\n    msg.payload = \"\";\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1040,"wires":[["c1d0e3ce19defc9e","51118bbac71a5968"]]},{"id":"b574f40ff8a0527a","type":"ui_toast","z":"c7f8ce4fc06e7614","position":"dialog","displayTime":"5","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1030,"y":820,"wires":[["033c50f093d55daf"]]},{"id":"6ab0464760094c16","type":"comment","z":"c7f8ce4fc06e7614","name":"Lista de Erros","info":"","x":190,"y":760,"wires":[]},{"id":"c1d0e3ce19defc9e","type":"function","z":"c7f8ce4fc06e7614","name":"notificações","func":"var nt;\n\nswitch(msg.error)\n{\n    case \"cpf\":\n        nt = \"Erro no cadastro. O CPF informado está inválido!\\n\\r Por favor informe um CPF válido.\";\n        break;\n    case \"cadastro\":\n        nt = \"Erro no cadastro. O CPF informado  já está cadastrado!\";\n        break;\n}\nmsg.payload = nt;\nmsg.topic = \"Mensagem:\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":820,"wires":[["b574f40ff8a0527a"]]},{"id":"fc01ea97a11e5c40","type":"link in","z":"c7f8ce4fc06e7614","name":"cadastro","links":["c6527287223610fd"],"x":155,"y":1440,"wires":[["d7c7d1523ffa45d0"]]},{"id":"c6527287223610fd","type":"link out","z":"c7f8ce4fc06e7614","name":"cadastro1","mode":"link","links":["fc01ea97a11e5c40","d9ac8bbe2f4b4e7c"],"x":1275,"y":820,"wires":[]},{"id":"bc098953e6a5407c","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"e5ec328091ba2efa","order":7,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":190,"y":1140,"wires":[["fa1b140968f75dac"]]},{"id":"db919fcded40e12d","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"c09795df6ec013d4","order":7,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":190,"y":1100,"wires":[["fa1b140968f75dac"]]},{"id":"18fac261af6f38c1","type":"function","z":"c7f8ce4fc06e7614","name":"user_table_new_user","func":"if (msg.payload !='')\n{\nmsg.topic = 'INSERT INTO ac_table(sn,marca,capacidade,local) VALUES($sn,$marca,$capacidade,$local)';\nmsg.payload = [msg.payload.sn, msg.payload.marca, msg.payload.capacidade, msg.payload.local];\nreturn msg;\n}\n\nif (msg.payload =='')\n{\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1820,"wires":[["3bbe986c7c4cc604"]]},{"id":"3bbe986c7c4cc604","type":"sqlite","z":"c7f8ce4fc06e7614","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"novodb","x":840,"y":2000,"wires":[["fa617621d3d7df0d"]]},{"id":"45e7c4bf8852660d","type":"function","z":"c7f8ce4fc06e7614","name":"select","func":"msg.topic = \"SELECT * FROM ac_table\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1940,"wires":[["3bbe986c7c4cc604"]]},{"id":"cd4fb7c7126d06f2","type":"ui_form","z":"c7f8ce4fc06e7614","name":"equipamento_table_insert","label":"","group":"1a151323fbe0ab1a","order":1,"width":6,"height":1,"options":[{"label":"Marca","value":"marca","type":"text","required":true,"rows":null},{"label":"Capacidade","value":"capacidade","type":"text","required":true,"rows":null},{"label":"Local","value":"local","type":"text","required":true,"rows":null},{"label":"Nº de Série","value":"sn","type":"text","required":true,"rows":null}],"formValue":{"marca":"","capacidade":"","local":"","sn":""},"payload":"","submit":"Gravar","cancel":"Cancelar","topic":"payload","topicType":"msg","splitLayout":false,"className":"","x":210,"y":1820,"wires":[["18fac261af6f38c1"]]},{"id":"b22d341b0d85bfd2","type":"ui_table","z":"c7f8ce4fc06e7614","group":"b3fcaf8526238603","name":"Equipamentos Cadastrados","order":1,"width":12,"height":7,"columns":[{"field":"sn","title":"Nº de Série","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"marca","title":"Marca","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"capacidade","title":"Capacidade","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"local","title":"Local","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1100,"y":1820,"wires":[["412f2c4f896395d3","3e218cfe93bfef71"]]},{"id":"fa617621d3d7df0d","type":"json","z":"c7f8ce4fc06e7614","name":"","property":"payload","action":"obj","pretty":false,"x":850,"y":1860,"wires":[["b22d341b0d85bfd2","0850c9eb078347f4"]]},{"id":"229fe148b48126c2","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"3fe840e945fecb51","order":2,"width":3,"height":1,"passthru":false,"label":"Novo","tooltip":"","color":"","bgcolor":"","className":"","icon":"add","payload":"{\"group\":{\"hide\":[\"Equipamentos_Editar\",\"Equipamentos_Tabela\",\"Equipamentos_Cadastro_de_Equipamentos\"],\"show\":[\"Equipamentos_Incluir\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":150,"y":2180,"wires":[["f65ad7ad1799c221"]]},{"id":"7f2d1989a5b1a59a","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"3fe840e945fecb51","order":3,"width":3,"height":1,"passthru":false,"label":"Editar","tooltip":"","color":"","bgcolor":"","className":"","icon":"edit","payload":"{\"group\":{\"hide\":[\"Equipamentos_Incluir\",\"Equipamentos_Cadastro_de_Usuários\"],\"show\":[\"Equipamentos_Tabela\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":150,"y":2140,"wires":[["f65ad7ad1799c221","45e7c4bf8852660d"]]},{"id":"f65ad7ad1799c221","type":"ui_ui_control","z":"c7f8ce4fc06e7614","name":"","events":"change","x":380,"y":2260,"wires":[["e9be2c739222cb87","311fd65ace7714aa","cb10a39fbc9ff2e7"]]},{"id":"ff3252f83d0fe449","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"933ffdc2cd878b30","order":7,"width":3,"height":1,"passthru":true,"label":"Atualizar","tooltip":"","color":"","bgcolor":"","className":"","icon":"sync","payload":"","payloadType":"str","topic":"","topicType":"str","x":160,"y":2000,"wires":[["d0a2a7887d96783d"]]},{"id":"6d1d5da749bf5c5b","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"933ffdc2cd878b30","order":8,"width":3,"height":1,"passthru":false,"label":"Deletar","tooltip":"","color":"","bgcolor":"","className":"","icon":"clear","payload":"{\"group\":{\"hide\":[\"Equipamentos_Editar\",\"Equipamentos_Tabela\",\"Equipamentos_Incluir\"],\"show\":[\"Equipamentos_Cadastro_de_Usuários\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":160,"y":2040,"wires":[["79a8bbdf5ff65fc7","f65ad7ad1799c221"]]},{"id":"ebfa5f70a289b941","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Marca","tooltip":"","group":"933ffdc2cd878b30","order":2,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1790,"y":1780,"wires":[["4d95ac793c1fb525"]]},{"id":"02ec028792b8e02e","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_marca","func":"msg.payload = msg.payload.marca;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":1780,"wires":[["ebfa5f70a289b941"]]},{"id":"a6032bed39e8b722","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_capacidade","func":"msg.payload = msg.payload.capacidade;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1820,"wires":[["6c7b537fb14dd7c1"]]},{"id":"6c7b537fb14dd7c1","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Capacidade","tooltip":"","group":"933ffdc2cd878b30","order":4,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1810,"y":1820,"wires":[["d599695dd1de4460"]]},{"id":"4d95ac793c1fb525","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_marca","func":"global.set('marca',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1990,"y":1780,"wires":[[]]},{"id":"412f2c4f896395d3","type":"function","z":"c7f8ce4fc06e7614","name":"table values to edit","func":"global.set('sn',msg.payload.sn);\nglobal.set('marca',msg.payload.marca);\nglobal.set('capacidade',msg.payload.capacidade);\nglobal.set('local',msg.payload.local);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":1820,"wires":[["02ec028792b8e02e","a6032bed39e8b722","63b20e7db6c5bb8e"]]},{"id":"d599695dd1de4460","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_capacidade","func":"global.set('capacidade',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":1820,"wires":[[]]},{"id":"d0a2a7887d96783d","type":"function","z":"c7f8ce4fc06e7614","name":"update","func":"var sn = global.get('sn');\nvar marca = global.get('marca');\nvar capacidade = global.get('capacidade');\nvar local = global.get('local');\n\n\nmsg.sn = sn;\nmsg.marca = marca;\nmsg.capacidade = capacidade;\nmsg.local = local; \n\nmsg.topic = 'UPDATE ac_table SET marca = $marca, capacidade = $capacidade, local = $local  WHERE sn = $sn';\nmsg.payload = [msg.marca, msg.capacidade, msg.local, msg.sn];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":2000,"wires":[["3bbe986c7c4cc604","5322d97e3221d26e"]]},{"id":"79a8bbdf5ff65fc7","type":"function","z":"c7f8ce4fc06e7614","name":"delete","func":"var sn = global.get('sn');\n\nmsg.sn = sn;\n\nmsg.topic = 'DELETE FROM ac_table WHERE sn = $sn';\nmsg.payload = [msg.sn];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":2040,"wires":[["3bbe986c7c4cc604","5322d97e3221d26e"]]},{"id":"5322d97e3221d26e","type":"delay","z":"c7f8ce4fc06e7614","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":400,"y":2080,"wires":[["45e7c4bf8852660d"]]},{"id":"e9be2c739222cb87","type":"function","z":"c7f8ce4fc06e7614","name":"Mostra apenas cadastro","func":"msg.payload = \n    {\"group\":\n        {\"hide\":\n        [\n            \"Equipamentos_Editar\",\n            \"Equipamentos_Tabela\",\n            \"Equipamentos_Incluir\"\n        ],\n        \"show\": [\n            \"Equipamentos_Cadastro_de_Equipamentos\"\n        ]\n        }\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":2340,"wires":[["f65ad7ad1799c221"]]},{"id":"3e218cfe93bfef71","type":"function","z":"c7f8ce4fc06e7614","name":"Editar","func":"msg.payload = {\"group\":{\"hide\":[\"Equipamentos_Incluir\"],\"show\":[\"Equipamentos_Tabela\",\"Equipamentos_Editar\"]}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":1920,"wires":[["29627924edf7a7f4"]]},{"id":"b88e6948fdaa9105","type":"link in","z":"c7f8ce4fc06e7614","name":"L1","links":["29627924edf7a7f4"],"x":115,"y":2260,"wires":[["f65ad7ad1799c221"]]},{"id":"29627924edf7a7f4","type":"link out","z":"c7f8ce4fc06e7614","name":"","mode":"link","links":["b88e6948fdaa9105"],"x":1445,"y":1920,"wires":[]},{"id":"311fd65ace7714aa","type":"trigger","z":"c7f8ce4fc06e7614","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":400,"y":2420,"wires":[["e9be2c739222cb87"]]},{"id":"f45dc30cc97c86f4","type":"inject","z":"c7f8ce4fc06e7614","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":2340,"wires":[["e9be2c739222cb87"]]},{"id":"dd6ad571847a7f37","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"933ffdc2cd878b30","order":9,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":1960,"wires":[["e9be2c739222cb87"]]},{"id":"d9ac8bbe2f4b4e7c","type":"link in","z":"c7f8ce4fc06e7614","name":"cadastro","links":["c6527287223610fd"],"x":115,"y":2220,"wires":[["f65ad7ad1799c221"]]},{"id":"fbcac0cabc9b72b7","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"1a151323fbe0ab1a","order":3,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":1920,"wires":[["e9be2c739222cb87"]]},{"id":"4d94887bfbade79b","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"b3fcaf8526238603","order":2,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":1880,"wires":[["e9be2c739222cb87"]]},{"id":"63b20e7db6c5bb8e","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_local","func":"msg.payload = msg.payload.local;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":1860,"wires":[["68d74f0d574abfac"]]},{"id":"68d74f0d574abfac","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Local","tooltip":"","group":"933ffdc2cd878b30","order":3,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1790,"y":1860,"wires":[["b33d5470c713f765"]]},{"id":"b33d5470c713f765","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_local","func":"global.set('local',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1980,"y":1860,"wires":[[]]},{"id":"cb10a39fbc9ff2e7","type":"function","z":"c7f8ce4fc06e7614","name":"Select","func":"if (msg.name==\"Tab 5\")\n    {\n    msg.topic = \"SELECT * FROM ac_table\";\n    return msg;\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":2260,"wires":[["3bbe986c7c4cc604"]]},{"id":"baa268706b9ea1ec","type":"function","z":"c7f8ce4fc06e7614","name":"mostra grupos AC","func":"switch(String(Object.keys(msg.payload).length))\n{\n    case \"1\":\n        msg.payload = {\"group\": {\"hide\": [\"Tab_5_AC_2\",\"Tab_5_AC_3\",\"Tab_5_AC_4\"],\"show\":[\"Tab_5_AC_1\"]}}\n        break;\n    case \"2\":\n        msg.payload = {\"group\": {\"hide\": [\"Tab_5_AC_3\",\"Tab_5_AC_4\"],\"show\":[\"Tab_5_AC_1\",\"Tab_5_AC_2\"]}}\n        break;\n    case \"3\":\n        msg.payload = {\"group\": {\"hide\": [\"Tab_5_AC_4\"],\"show\":[\"Tab_5_AC_1\",\"Tab_5_AC_2\",\"Tab_5_AC_3\"]}}\n        break;\n    case \"4\":\n        msg.payload = {\"group\": {\"show\": [\"Tab_5_AC_1\",\"Tab_5_AC_2\",\"Tab_5_AC_3\",\"Tab_5_AC_4\"]}}\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":3000,"wires":[["f65ad7ad1799c221"]]},{"id":"0b368f61b4706a57","type":"ui_text","z":"c7f8ce4fc06e7614","group":"ade346448c44b1ca","order":2,"width":3,"height":1,"name":"G2 Marca","label":"Marca: ","format":"{{msg.payload[1].marca}}","layout":"row-left","className":"","x":900,"y":3060,"wires":[]},{"id":"50680dc720688f5c","type":"ui_text","z":"c7f8ce4fc06e7614","group":"ade346448c44b1ca","order":3,"width":3,"height":1,"name":"G2 Local","label":"Local: ","format":"{{msg.payload[1].local}}","layout":"row-left","className":"","x":900,"y":3100,"wires":[]},{"id":"c7bcc0368fb9651e","type":"ui_text","z":"c7f8ce4fc06e7614","group":"ade346448c44b1ca","order":4,"width":3,"height":1,"name":"G2 Capacidade","label":"Capacidade: ","format":"{{msg.payload[1].capacidade}}","layout":"row-left","className":"","x":920,"y":3140,"wires":[]},{"id":"954956d3baa4ed56","type":"ui_text","z":"c7f8ce4fc06e7614","group":"ade346448c44b1ca","order":5,"width":3,"height":1,"name":"G2 Nº serie","label":"Nº: ","format":"{{msg.payload[1].sn}}","layout":"row-left","className":"","x":910,"y":3180,"wires":[]},{"id":"a66f0d5cc9040226","type":"ui_text","z":"c7f8ce4fc06e7614","group":"b025a80747bfd924","order":6,"width":3,"height":1,"name":"G1 Marca","label":"Marca: ","format":"{{msg.payload[0].marca}}","layout":"row-left","className":"","x":220,"y":3060,"wires":[]},{"id":"dab081a3bfeb3ccf","type":"ui_text","z":"c7f8ce4fc06e7614","group":"b025a80747bfd924","order":7,"width":4,"height":1,"name":"G1 Local","label":"Local: ","format":"{{msg.payload[0].local}}","layout":"row-left","className":"","x":220,"y":3100,"wires":[]},{"id":"1ad565dc35c536e4","type":"ui_text","z":"c7f8ce4fc06e7614","group":"b025a80747bfd924","order":8,"width":5,"height":1,"name":"G1 Capacidade","label":"Capacidade: ","format":"{{msg.payload[0].capacidade}}","layout":"row-left","className":"","x":240,"y":3140,"wires":[]},{"id":"74ed24237048a8e5","type":"ui_text","z":"c7f8ce4fc06e7614","group":"b025a80747bfd924","order":5,"width":3,"height":1,"name":"G1 Nº serie","label":"Nº: ","format":"{{msg.payload[0].sn}}","layout":"row-left","className":"","x":230,"y":3180,"wires":[]},{"id":"0850c9eb078347f4","type":"link out","z":"c7f8ce4fc06e7614","name":"Tab 5 ","mode":"link","links":["a18d3024780674e9"],"x":1115,"y":1920,"wires":[]},{"id":"a18d3024780674e9","type":"link in","z":"c7f8ce4fc06e7614","name":"","links":["0850c9eb078347f4"],"x":65,"y":3020,"wires":[["a66f0d5cc9040226","baa268706b9ea1ec","dab081a3bfeb3ccf","1ad565dc35c536e4","74ed24237048a8e5","0b368f61b4706a57","50680dc720688f5c","c7bcc0368fb9651e","954956d3baa4ed56","989930ab3201309d","74ed16d98ed1e34e","a18ce3d45aacd0f4","0ec93e328a01d006","a8931ba0aef37953","777922fbf9ccba41","d7aa11f9b6790a97","f02eac1039a5a0c3"]]},{"id":"989930ab3201309d","type":"ui_text","z":"c7f8ce4fc06e7614","group":"4b80764f91275d4b","order":2,"width":3,"height":1,"name":"G3 Marca","label":"Marca: ","format":"{{msg.payload[2].marca}}","layout":"row-left","className":"","x":1200,"y":3060,"wires":[]},{"id":"74ed16d98ed1e34e","type":"ui_text","z":"c7f8ce4fc06e7614","group":"4b80764f91275d4b","order":3,"width":3,"height":1,"name":"G3 Local","label":"Local: ","format":"{{msg.payload[2].local}}","layout":"row-left","className":"","x":1200,"y":3100,"wires":[]},{"id":"a18ce3d45aacd0f4","type":"ui_text","z":"c7f8ce4fc06e7614","group":"4b80764f91275d4b","order":4,"width":3,"height":1,"name":"G3 Capacidade","label":"Capacidade: ","format":"{{msg.payload[2].capacidade}}","layout":"row-left","className":"","x":1220,"y":3140,"wires":[]},{"id":"0ec93e328a01d006","type":"ui_text","z":"c7f8ce4fc06e7614","group":"4b80764f91275d4b","order":5,"width":3,"height":1,"name":"G3 Nº serie","label":"Nº: ","format":"{{msg.payload[2].sn}}","layout":"row-left","className":"","x":1210,"y":3180,"wires":[]},{"id":"a8931ba0aef37953","type":"ui_text","z":"c7f8ce4fc06e7614","group":"d996330fb04316f0","order":2,"width":3,"height":1,"name":"G4 Marca","label":"Marca: ","format":"{{msg.payload[3].marca}}","layout":"row-left","className":"","x":1560,"y":3060,"wires":[]},{"id":"777922fbf9ccba41","type":"ui_text","z":"c7f8ce4fc06e7614","group":"d996330fb04316f0","order":3,"width":3,"height":1,"name":"G4 Local","label":"Local: ","format":"{{msg.payload[3].local}}","layout":"row-left","className":"","x":1560,"y":3100,"wires":[]},{"id":"d7aa11f9b6790a97","type":"ui_text","z":"c7f8ce4fc06e7614","group":"d996330fb04316f0","order":4,"width":3,"height":1,"name":"G4 Capacidade","label":"Capacidade: ","format":"{{msg.payload[3].capacidade}}","layout":"row-left","className":"","x":1580,"y":3140,"wires":[]},{"id":"f02eac1039a5a0c3","type":"ui_text","z":"c7f8ce4fc06e7614","group":"d996330fb04316f0","order":5,"width":3,"height":1,"name":"G4 Nº serie","label":"Nº: ","format":"{{msg.payload[3].sn}}","layout":"row-left","className":"","x":1570,"y":3180,"wires":[]},{"id":"ad2dddd3cc7bee3d","type":"ui_led","z":"c7f8ce4fc06e7614","order":1,"group":"b025a80747bfd924","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"G1 Led","x":380,"y":2800,"wires":[]},{"id":"eb59f35b3ba8262a","type":"inject","z":"c7f8ce4fc06e7614","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":2800,"wires":[["ad2dddd3cc7bee3d"]]},{"id":"160c5a0443572f97","type":"ui_text","z":"c7f8ce4fc06e7614","group":"b025a80747bfd924","order":2,"width":2,"height":1,"name":"G1 Status","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":380,"y":2840,"wires":[]},{"id":"847174934ef55186","type":"inject","z":"c7f8ce4fc06e7614","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Ligado","payloadType":"str","x":170,"y":2840,"wires":[["160c5a0443572f97"]]},{"id":"8bb4cc8d924c1247","type":"inject","z":"c7f8ce4fc06e7614","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":170,"y":2760,"wires":[["ad2dddd3cc7bee3d"]]},{"id":"5c28ccc0ffcf5beb","type":"inject","z":"c7f8ce4fc06e7614","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Desligado","payloadType":"str","x":160,"y":2880,"wires":[["160c5a0443572f97"]]},{"id":"8c455fb91c40f608","type":"comment","z":"c7f8ce4fc06e7614","name":"Status do condicionador de ar","info":"","x":140,"y":2700,"wires":[]},{"id":"caa1c9607fde50df","type":"inject","z":"c7f8ce4fc06e7614","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10,4 Horas","payloadType":"str","x":160,"y":2920,"wires":[["023fb1d5b65eccd0"]]},{"id":"023fb1d5b65eccd0","type":"ui_text","z":"c7f8ce4fc06e7614","group":"b025a80747bfd924","order":3,"width":6,"height":1,"name":"G1 oper","label":"Horas de Operação","format":"{{msg.payload}}","layout":"row-left","className":"","x":380,"y":2920,"wires":[]},{"id":"427cecddd98ca754","type":"function","z":"c7f8ce4fc06e7614","name":"Temperatura","func":"for (var i = 0; i < msg.payload.length; i++)\n{\n    var newmsg={};\n    newmsg.payload = msg.payload[i].temperatura;\n    node.send(newmsg);\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1650,"y":400,"wires":[["5e3044b6a87ccf9f","b5e55c563bf3ace4","08f4bc876baa089c"]]},{"id":"e8956f7f6b2994f8","type":"function","z":"c7f8ce4fc06e7614","name":"Umidade","func":"for (var i = 0; i < msg.payload.length; i++)\n{\n    var newmsg={};\n    newmsg.payload = msg.payload[i].umidade;\n    node.send(newmsg);\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":480,"wires":[["9b3b959af7f5d918","3e4380ebd171a2a6","1986566eb4af6d6d"]]},{"id":"11c6cc1c5040bcc4","type":"ui_date_picker","z":"c7f8ce4fc06e7614","name":"Data inicio","label":"","group":"b025a80747bfd924","order":17,"width":4,"height":1,"passthru":false,"topic":"topic","topicType":"msg","className":"","x":90,"y":3440,"wires":[["396c44f35c465d24"]]},{"id":"396c44f35c465d24","type":"moment","z":"c7f8ce4fc06e7614","name":"Data inicio","topic":"","input":"payload","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"1","adjType":"days","adjDir":"subtract","format":"YYYY-MM-DD","locale":"en-US","output":"data_inicio","outputType":"global","outTz":"America/Sao_Paulo","x":250,"y":3440,"wires":[[]]},{"id":"066aba5e8ee94045","type":"moment","z":"c7f8ce4fc06e7614","name":"Data fim","topic":"","input":"payload","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"1","adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"en-US","output":"data_fim","outputType":"global","outTz":"America/Sao_Paulo","x":240,"y":3500,"wires":[[]]},{"id":"a06adb80390868b2","type":"ui_date_picker","z":"c7f8ce4fc06e7614","name":"Data fim","label":"","group":"b025a80747bfd924","order":19,"width":4,"height":1,"passthru":false,"topic":"topic","topicType":"msg","className":"","x":80,"y":3500,"wires":[["066aba5e8ee94045"]]},{"id":"c61cae58b9ac0504","type":"function","z":"c7f8ce4fc06e7614","name":"select data","func":"//var room_table_id = global.get('room_table_id');\n\n\n\nmsg.topic = \"SELECT * FROM sensor_data WHERE Timestamp BETWEEN  $data_inicio AND $data_fim\";\nmsg.payload = [global.get('data_inicio'),global.get('data_fim')]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":580,"wires":[["99607da5e4202dc9","e1968a119188b277"]]},{"id":"00d84edd0acc10ae","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"b025a80747bfd924","order":20,"width":3,"height":1,"passthru":false,"label":"Selecionar","tooltip":"","color":"","bgcolor":"","className":"","icon":"done","payload":"teste","payloadType":"str","topic":"payload","topicType":"msg","x":990,"y":580,"wires":[["c61cae58b9ac0504"]]},{"id":"c4cdb8886014dc6a","type":"ui_text","z":"c7f8ce4fc06e7614","group":"b025a80747bfd924","order":16,"width":4,"height":1,"name":"","label":"Data inicial","format":"","layout":"row-left","className":"","x":130,"y":3380,"wires":[]},{"id":"39fa7a3973137afb","type":"ui_text","z":"c7f8ce4fc06e7614","group":"b025a80747bfd924","order":18,"width":4,"height":1,"name":"","label":"Data final","format":"","layout":"row-left","className":"","x":300,"y":3380,"wires":[]},{"id":"e1968a119188b277","type":"debug","z":"c7f8ce4fc06e7614","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1690,"y":340,"wires":[]},{"id":"45c06521aaf222a8","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"76521e6ad2cda0bf","order":1,"width":12,"height":1},{"id":"38e91bd950b7deb0","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"76521e6ad2cda0bf","order":4,"width":"12","height":"1"},{"id":"dd48a9ea96c791c4","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"cb3493806ceea85b","order":1,"width":12,"height":1},{"id":"b7a571176ae90e3d","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"cb3493806ceea85b","order":4,"width":12,"height":1},{"id":"ddfbc769d8ff2cd2","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"cb3493806ceea85b","order":8,"width":3,"height":1},{"id":"0c1a50c61da81c3f","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"e5ec328091ba2efa","order":2,"width":"6","height":"3"},{"id":"7ca6eaa1b41c9bf2","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"c4c0eda1d26c3ce1","order":3,"width":9,"height":1},{"id":"409069d81b5bf558","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"c4c0eda1d26c3ce1","order":5,"width":5,"height":1},{"id":"6a39a35271da64f4","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"3fe840e945fecb51","order":1,"width":12,"height":1},{"id":"15a0c76082a6988c","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"3fe840e945fecb51","order":4,"width":"12","height":"1"},{"id":"3763fd754d1caf15","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"1a151323fbe0ab1a","order":2,"width":"6","height":"3"},{"id":"ff84c17e52ce0ce0","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"933ffdc2cd878b30","order":1,"width":12,"height":1},{"id":"5959863fa9bfede0","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"933ffdc2cd878b30","order":5,"width":6,"height":1},{"id":"3d2487b7d6ce15bd","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"933ffdc2cd878b30","order":6,"width":12,"height":1},{"id":"be4505f3e50a67ac","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"933ffdc2cd878b30","order":10,"width":3,"height":1},{"id":"9a07ad0c8678d549","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"b3fcaf8526238603","order":3,"width":9,"height":1},{"id":"92757e835707d25c","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"b025a80747bfd924","order":4,"width":21,"height":1},{"id":"66eb691a8b2735e4","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"b025a80747bfd924","order":9,"width":15,"height":1},{"id":"091d257770b6d49e","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"b025a80747bfd924","order":10,"width":30,"height":1},{"id":"d75b1d7c10ed32a5","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"b025a80747bfd924","order":15,"width":30,"height":1},{"id":"d83ad1bf631e571b","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"b025a80747bfd924","order":21,"width":11,"height":1},{"id":"59304f36647697f4","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"ade346448c44b1ca","order":1,"width":12,"height":1},{"id":"86f6ad678d7af925","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"4b80764f91275d4b","order":1,"width":12,"height":1},{"id":"cf29759e3217bbea","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"d996330fb04316f0","order":1,"width":12,"height":1},{"id":"84d3c853.83bf3","type":"sqlitedb","db":"C:\\Users\\brsilvrg\\dados/novodb.db","mode":"RWC"},{"id":"b025a80747bfd924","type":"ui_group","name":"AC 1","tab":"30cbe482b27f3cb1","order":1,"disp":true,"width":30,"collapse":true,"className":""},{"id":"e5ec328091ba2efa","type":"ui_group","name":"Incluir","tab":"552cc714f0bc9551","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"c09795df6ec013d4","type":"ui_group","name":"Tabela","tab":"552cc714f0bc9551","order":4,"disp":true,"width":12,"collapse":false,"className":""},{"id":"76521e6ad2cda0bf","type":"ui_group","name":"Cadastro de Usuários","tab":"552cc714f0bc9551","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"cb3493806ceea85b","type":"ui_group","name":"Editar","tab":"552cc714f0bc9551","order":3,"disp":true,"width":12,"collapse":false,"className":""},{"id":"66b7fb5d347f8114","type":"ui_group","name":"Tabela","tab":"e6e87327e2f51da8","order":1,"disp":true,"width":"20","collapse":false,"className":""},{"id":"1a151323fbe0ab1a","type":"ui_group","name":"Incluir","tab":"8b513baed06e9814","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"b3fcaf8526238603","type":"ui_group","name":"Tabela","tab":"8b513baed06e9814","order":4,"disp":true,"width":12,"collapse":false,"className":""},{"id":"3fe840e945fecb51","type":"ui_group","name":"Cadastro de Equipamentos","tab":"8b513baed06e9814","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"933ffdc2cd878b30","type":"ui_group","name":"Editar","tab":"8b513baed06e9814","order":3,"disp":true,"width":12,"collapse":false,"className":""},{"id":"ade346448c44b1ca","type":"ui_group","name":"AC 2","tab":"30cbe482b27f3cb1","order":2,"disp":false,"width":12,"collapse":false,"className":""},{"id":"4b80764f91275d4b","type":"ui_group","name":"AC 3","tab":"30cbe482b27f3cb1","order":3,"disp":false,"width":12,"collapse":false,"className":""},{"id":"d996330fb04316f0","type":"ui_group","name":"AC 4","tab":"30cbe482b27f3cb1","order":4,"disp":false,"width":12,"collapse":false,"className":""},{"id":"c4c0eda1d26c3ce1","type":"ui_group","name":"Condicionador de Ar","tab":"8fe45089fc017b43","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"30cbe482b27f3cb1","type":"ui_tab","name":"Tab 5","icon":"equalizer","order":5,"disabled":false,"hidden":false},{"id":"552cc714f0bc9551","type":"ui_tab","name":"Usuários","icon":"person","order":3,"disabled":false,"hidden":false},{"id":"e6e87327e2f51da8","type":"ui_tab","name":"Dados","icon":"storage","order":2,"disabled":false,"hidden":false},{"id":"8b513baed06e9814","type":"ui_tab","name":"Equipamentos","icon":"ac_unit","order":4,"disabled":false,"hidden":false},{"id":"8fe45089fc017b43","type":"ui_tab","name":"Monitor","icon":"equalizer","order":1,"disabled":false,"hidden":false}]