saude_ar_condicionado_23_04.json
[{"id":"8a48f2abdb64ec10","type":"tab","label":"Telegram","disabled":true,"info":"","env":[]},{"id":"a107fb006002fdbd","type":"tab","label":"Leitor de Códigos O2I5 + arquivo .txt","disabled":true,"info":"","env":[]},{"id":"941087de47febc1c","type":"tab","label":"IOL+LED","disabled":true,"info":"","env":[]},{"id":"2cc3895e9a5cb3c6","type":"tab","label":"Telegram Audio","disabled":true,"info":"","env":[]},{"id":"c7f8ce4fc06e7614","type":"tab","label":"Projeto eficiencia do ar condicionado","disabled":false,"info":"","env":[]},{"id":"e599429974a58406","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"db852ff198ba5ac6","type":"tab","label":"AC 1","disabled":false,"info":"","env":[]},{"id":"11db927b115c40b9","type":"chatbot-telegram-node","botname":"EA_CT4_BOT","usernames":"","polling":"1000","store":"","log":"","debug":false,"skipMediaFiles":false,"webHook":"https://your.instance.com/redbot/telegram","connectMode":"polling","storeMessages":true,"enableMissionControl":false,"inspectMessages":true,"chatbotId":""},{"id":"84d3c853.83bf3","type":"sqlitedb","db":"C:\\Users\\brsilvrg\\dados/novodb.db","mode":"RWC"},{"id":"e5ec328091ba2efa","type":"ui_group","name":"Incluir","tab":"552cc714f0bc9551","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"552cc714f0bc9551","type":"ui_tab","name":"Usuários","icon":"person","order":3,"disabled":false,"hidden":false},{"id":"cb3493806ceea85b","type":"ui_group","name":"Editar","tab":"552cc714f0bc9551","order":3,"disp":true,"width":12,"collapse":false,"className":""},{"id":"76521e6ad2cda0bf","type":"ui_group","name":"Cadastro de Usuários","tab":"552cc714f0bc9551","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"c09795df6ec013d4","type":"ui_group","name":"Tabela","tab":"552cc714f0bc9551","order":4,"disp":true,"width":12,"collapse":false,"className":""},{"id":"66b7fb5d347f8114","type":"ui_group","name":"Tabela","tab":"e6e87327e2f51da8","order":1,"disp":true,"width":"20","collapse":false,"className":""},{"id":"ad1f18bf113870f3","type":"ui_group","name":"Umidade","tab":"","order":2,"disp":true,"width":"12","collapse":false,"className":""},{"id":"989b05521e1e8255","type":"ui_group","name":"Temperatura","tab":"","order":3,"disp":true,"width":"12","collapse":false,"className":""},{"id":"e6e87327e2f51da8","type":"ui_tab","name":"Dados","icon":"storage","order":2,"disabled":false,"hidden":false},{"id":"45c06521aaf222a8","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"76521e6ad2cda0bf","order":1,"width":12,"height":1},{"id":"38e91bd950b7deb0","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"76521e6ad2cda0bf","order":4,"width":"12","height":"1"},{"id":"dd48a9ea96c791c4","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"cb3493806ceea85b","order":1,"width":12,"height":1},{"id":"b7a571176ae90e3d","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"cb3493806ceea85b","order":4,"width":12,"height":1},{"id":"ddfbc769d8ff2cd2","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"cb3493806ceea85b","order":8,"width":3,"height":1},{"id":"0c1a50c61da81c3f","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"e5ec328091ba2efa","order":2,"width":"6","height":"3"},{"id":"c4c0eda1d26c3ce1","type":"ui_group","name":"Condicionador de Ar","tab":"","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"7ca6eaa1b41c9bf2","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"c4c0eda1d26c3ce1","order":3,"width":9,"height":1},{"id":"409069d81b5bf558","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"c4c0eda1d26c3ce1","order":5,"width":5,"height":1},{"id":"8b513baed06e9814","type":"ui_tab","name":"Equipamentos","icon":"ac_unit","order":4,"disabled":false,"hidden":false},{"id":"3fe840e945fecb51","type":"ui_group","name":"Cadastro de Equipamentos","tab":"8b513baed06e9814","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"1a151323fbe0ab1a","type":"ui_group","name":"Incluir","tab":"8b513baed06e9814","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"933ffdc2cd878b30","type":"ui_group","name":"Editar","tab":"8b513baed06e9814","order":3,"disp":true,"width":12,"collapse":false,"className":""},{"id":"b3fcaf8526238603","type":"ui_group","name":"Tabela","tab":"8b513baed06e9814","order":4,"disp":true,"width":12,"collapse":false,"className":""},{"id":"6a39a35271da64f4","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"3fe840e945fecb51","order":1,"width":12,"height":1},{"id":"15a0c76082a6988c","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"3fe840e945fecb51","order":4,"width":"12","height":"1"},{"id":"3763fd754d1caf15","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"1a151323fbe0ab1a","order":2,"width":"6","height":"3"},{"id":"ff84c17e52ce0ce0","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"933ffdc2cd878b30","order":1,"width":12,"height":1},{"id":"5959863fa9bfede0","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"933ffdc2cd878b30","order":5,"width":6,"height":1},{"id":"3d2487b7d6ce15bd","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"933ffdc2cd878b30","order":6,"width":12,"height":1},{"id":"be4505f3e50a67ac","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"933ffdc2cd878b30","order":10,"width":3,"height":1},{"id":"9a07ad0c8678d549","type":"ui_spacer","z":"c7f8ce4fc06e7614","name":"spacer","group":"b3fcaf8526238603","order":3,"width":9,"height":1},{"id":"30cbe482b27f3cb1","type":"ui_tab","name":"Monitor","icon":"equalizer","order":1,"disabled":false,"hidden":false},{"id":"b025a80747bfd924","type":"ui_group","name":"AC 1","tab":"30cbe482b27f3cb1","order":1,"disp":true,"width":"30","collapse":false,"className":""},{"id":"eee3f5c5fb690fd7","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#01d0df","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Saúde do Condicionador de Ar","hideToolbar":"true","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"89749fb7.87f01","type":"ui_group","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"ab397e95.29ebe","type":"ui_group","name":"Inputs","tab":"","order":1,"disp":false,"width":"6"},{"id":"4e7edda4.417004","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"0417e6ccfc036755","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":4,"width":4,"height":1},{"id":"e0068216d3e0a476","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":6,"width":11,"height":1},{"id":"da29118c45762821","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":11,"width":1,"height":1},{"id":"80cf6b0298a411be","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":12,"width":11,"height":1},{"id":"6f6d7e06f44ca4b4","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":13,"width":30,"height":1},{"id":"d83a02d05a13d1c7","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":17,"width":1,"height":1},{"id":"a26315135b6cb099","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":20,"width":4,"height":1},{"id":"4bc35c49e6e8a034","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":21,"width":1,"height":1},{"id":"08b831bee40f48d9","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":24,"width":4,"height":1},{"id":"7957ac2f2f3fd1ac","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":25,"width":1,"height":1},{"id":"efe5a8d53d0bb219","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":27,"width":7,"height":1},{"id":"8339ade0b72e89ef","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":28,"width":1,"height":1},{"id":"3d931475c4506354","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":29,"width":30,"height":1},{"id":"df966c6b1346bae0","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":32,"width":2,"height":1},{"id":"87a7792beba9c26b","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":33,"width":2,"height":1},{"id":"504a62b2a8911966","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":34,"width":2,"height":1},{"id":"4f61fe7cebb0967a","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":35,"width":2,"height":1},{"id":"eeee6ee0538b87aa","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":36,"width":2,"height":1},{"id":"0fe3b33b91e4a9ac","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":37,"width":2,"height":1},{"id":"079bfaaa020e2140","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":38,"width":2,"height":1},{"id":"b1e5dab1390f401a","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":39,"width":2,"height":1},{"id":"819352f77f8e918f","type":"ui_spacer","z":"db852ff198ba5ac6","name":"spacer","group":"b025a80747bfd924","order":40,"width":2,"height":1},{"id":"636fa83a46832801","type":"chatbot-telegram-receive","z":"8a48f2abdb64ec10","d":true,"bot":"11db927b115c40b9","botProduction":"","x":290,"y":140,"wires":[["40d10504997c5fb2","f82086444e56e280"]]},{"id":"f82086444e56e280","type":"function","z":"8a48f2abdb64ec10","name":"Bomdia","func":"texto = msg.payload.content\nif(texto == \"Bom dia\")\n{\n    texto = \"Bom dia! Tudo bem?\";\n}\nelse\n{\n    texto = texto + \"?\";\n}\nmsg.payload.content = texto;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":380,"wires":[["2019566439c9dd7d","e94c74b83302433d","0cad52d5f6aa70de"]]},{"id":"e94c74b83302433d","type":"chatbot-telegram-send","z":"8a48f2abdb64ec10","bot":"11db927b115c40b9","botProduction":"11db927b115c40b9","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":850,"y":500,"wires":[[]]},{"id":"44110114e1bc6a11","type":"debug","z":"8a48f2abdb64ec10","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":260,"wires":[]},{"id":"2019566439c9dd7d","type":"debug","z":"8a48f2abdb64ec10","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":380,"wires":[]},{"id":"53fe2a5860a3531d","type":"chatbot-voice","z":"8a48f2abdb64ec10","name":"","message":"","language":"pt-br","x":630,"y":520,"wires":[["e94c74b83302433d"]]},{"id":"0cad52d5f6aa70de","type":"function","z":"8a48f2abdb64ec10","name":"voz","func":"msg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":520,"wires":[["53fe2a5860a3531d"]]},{"id":"40d10504997c5fb2","type":"function","z":"8a48f2abdb64ec10","name":"som","func":"msg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":140,"wires":[["44110114e1bc6a11"]]},{"id":"cad28197336794c3","type":"http request","z":"8a48f2abdb64ec10","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.8/iolinkmaster/port[1]/senddatatosmob/getdata","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":510,"y":60,"wires":[["295507f86566342a"]]},{"id":"07d872769c10e162","type":"inject","z":"8a48f2abdb64ec10","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":80,"wires":[["cad28197336794c3"]]},{"id":"295507f86566342a","type":"debug","z":"8a48f2abdb64ec10","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":60,"wires":[]},{"id":"c0423869bcc3f1e6","type":"inject","z":"8a48f2abdb64ec10","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":210,"y":1020,"wires":[["18cf0a65f92cfdf8"]]},{"id":"18cf0a65f92cfdf8","type":"function","z":"8a48f2abdb64ec10","name":"","func":"msg.payload = {\n    \"group\": \"Group \" + Math.floor(Math.random() * 1000), // generate a random group name\n    \"widgets\": [\n        {\n            \"type\": \"text\",\n            \"name\": \"text-input\",\n            \"label\": \"Text Input\",\n            \"value\": \"\",\n            \"width\": 6\n        }\n    ]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1040,"wires":[["455a5430d9259730"]]},{"id":"455a5430d9259730","type":"ui_ui_control","z":"8a48f2abdb64ec10","name":"","events":"all","x":500,"y":1040,"wires":[[]]},{"id":"a0243456c52ef6cd","type":"function","z":"a107fb006002fdbd","name":"Mensagem recebida","func":"msg.payload = msg.payload.toString();\nmsg.payload = msg.payload.split(\"\\r\\n\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":120,"wires":[["a9ea20adb2c008b1","977c06c34afbfcae"]]},{"id":"fedf31bc05ac86cc","type":"inject","z":"a107fb006002fdbd","name":"Trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":380,"wires":[["6b577ac1a9ececd8","2b8084712127dcac"]]},{"id":"6b577ac1a9ececd8","type":"function","z":"a107fb006002fdbd","name":"Trigger","func":"msg.payload = \"1234L000000007\\r\\n1234t\\r\\n\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":360,"wires":[["133aa823d05e9af4"]]},{"id":"133aa823d05e9af4","type":"tcp out","z":"a107fb006002fdbd","d":true,"name":"","host":"192.168.0.69","port":"50010","beserver":"client","base64":false,"end":false,"tls":"","x":570,"y":360,"wires":[]},{"id":"2b8084712127dcac","type":"tcp request","z":"a107fb006002fdbd","d":true,"name":"","server":"192.168.0.69","port":"50010","out":"sit","ret":"buffer","splitc":" ","newline":"","tls":"","x":170,"y":120,"wires":[["a0243456c52ef6cd"]]},{"id":"3eb6dc87a9b72f2a","type":"comment","z":"a107fb006002fdbd","name":"Leitor de Códigos - Arquivo de texto","info":"Leitura de dados do O2I5\n\nCriação de arquivo txt com informações do leitor.\n","x":210,"y":60,"wires":[]},{"id":"a9ea20adb2c008b1","type":"debug","z":"a107fb006002fdbd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":160,"wires":[]},{"id":"5b04d28dcea1277a","type":"debug","z":"a107fb006002fdbd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":220,"wires":[]},{"id":"977c06c34afbfcae","type":"function","z":"a107fb006002fdbd","name":"objeto","func":"msg.payload = msg.payload[0].split('|');\nconst list = [];\nmsg.list = list;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":220,"wires":[["5b04d28dcea1277a"]]},{"id":"62f2ac63.f3ebc4","type":"debug","z":"941087de47febc1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":280,"wires":[]},{"id":"6ea58f83.8bb9a","type":"http request","z":"941087de47febc1c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"192.168.0.8","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":650,"y":280,"wires":[["62f2ac63.f3ebc4"]]},{"id":"a18ccbb91469274d","type":"inject","z":"941087de47febc1c","name":"color vermelho","props":[{"p":"color","v":"vermelho","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":300,"wires":[["ebd3ab20f8e5dbc8"]]},{"id":"ebd3ab20f8e5dbc8","type":"function","z":"941087de47febc1c","name":"Set Color","func":"switch(msg.color)\n{\n    case \"desligado\":\n        cor = \"0000\";\n        break;\n    case \"vermelho\":\n        cor = \"0001\";\n        break;\n    case \"verde\":\n        cor = \"0002\";\n        break;\n    case \"laranja\":\n        cor = \"0003\";\n        break;\n    case \"azul\":\n        cor = \"0004\";\n        break;\n    case \"roxo\":\n        cor = \"0005\";\n        break;\n    case \"ciano\":\n        cor = \"0006\";\n        break;\n    case \"branco\":\n        cor = \"0007\";\n        break;\n    case \"amarelo\":\n        cor = \"0008\";\n        break;\n}\n\nmsg.payload = {\n    \"code\": \"request\",\n    \"cid\": 4711, \n    \"adr\": \"/iolinkmaster/port[1]/iolinkdevice/pdout/setdata\",\n    \"data\":{\"newvalue\":cor}\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["6ea58f83.8bb9a"]]},{"id":"f01e9877beda1749","type":"inject","z":"941087de47febc1c","name":"color verde","props":[{"p":"color","v":"verde","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":340,"wires":[["ebd3ab20f8e5dbc8"]]},{"id":"340d10d54ba1b34d","type":"inject","z":"941087de47febc1c","name":"color azul","props":[{"p":"color","v":"azul","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":380,"wires":[["ebd3ab20f8e5dbc8"]]},{"id":"c07cf6a405635be9","type":"inject","z":"941087de47febc1c","name":"color amarelo","props":[{"p":"color","v":"amarelo","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":440,"wires":[["ebd3ab20f8e5dbc8"]]},{"id":"8aaccc806d7829b1","type":"inject","z":"941087de47febc1c","name":"color deligado","props":[{"p":"color","v":"desligado","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":500,"wires":[["ebd3ab20f8e5dbc8"]]},{"id":"cfe92b56cc10f74c","type":"inject","z":"941087de47febc1c","name":"color laranja","props":[{"p":"color","v":"laranja","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":560,"wires":[["ebd3ab20f8e5dbc8"]]},{"id":"b88577a1cf0fa328","type":"inject","z":"941087de47febc1c","name":"color ciano","props":[{"p":"color","v":"ciano","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":620,"wires":[["ebd3ab20f8e5dbc8"]]},{"id":"e8a9c03bdf30b1b8","type":"inject","z":"941087de47febc1c","name":"color roxo","props":[{"p":"color","v":"roxo","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":660,"wires":[["ebd3ab20f8e5dbc8"]]},{"id":"1ea57c04e78f7981","type":"inject","z":"941087de47febc1c","name":"color branco","props":[{"p":"color","v":"branco","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":700,"wires":[["ebd3ab20f8e5dbc8"]]},{"id":"f873212691aa3507","type":"debug","z":"2cc3895e9a5cb3c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":80,"wires":[]},{"id":"fa4206c958702bc9","type":"http request","z":"2cc3895e9a5cb3c6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"192.168.0.8","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":910,"y":80,"wires":[["f873212691aa3507"]]},{"id":"6cef6cee00db27cf","type":"function","z":"2cc3895e9a5cb3c6","name":"Cor LED","func":"switch(msg.cor)\n{\n    case \"Desligado\":\n        cor = \"0000\";\n        break;\n    case \"Vermelho\":\n        cor = \"0001\";\n        break;\n    case \"Verde\":\n        cor = \"0002\";\n        break;\n    case \"Laranja\":\n        cor = \"0003\";\n        break;\n    case \"Azul\":\n        cor = \"0004\";\n        break;\n    case \"Roxo\":\n        cor = \"0005\";\n        break;\n    case \"Ciano\":\n        cor = \"0006\";\n        break;\n    case \"Branco\":\n        cor = \"0007\";\n        break;\n    case \"Amarelo\":\n        cor = \"0008\";\n        break;\n}\n\nmsg.payload = {\n    \"code\": \"request\",\n    \"cid\": 4711, \n    \"adr\": \"/iolinkmaster/port[1]/iolinkdevice/pdout/setdata\",\n    \"data\":{\"newvalue\":cor}\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":80,"wires":[["fa4206c958702bc9"]]},{"id":"bf9b26f402f73ccd","type":"chatbot-telegram-receive","z":"2cc3895e9a5cb3c6","bot":"11db927b115c40b9","botProduction":"","x":150,"y":80,"wires":[["1627228034ce0bf3"]]},{"id":"1627228034ce0bf3","type":"function","z":"2cc3895e9a5cb3c6","name":"cor","func":"msg.cor = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":80,"wires":[["6cef6cee00db27cf"]]},{"id":"ed99e424854d8ebc","type":"function","z":"2cc3895e9a5cb3c6","name":"hora de dormir","func":"switch(msg.hora)\n{\n    case \"dormir\":\n        cor = \"0001\";\n        msg.tempo = \"10\";\n        msg.lembrar = \"5\";\n        msg.voz = \"crianças esta na hora de dormir\";\n        break;\n}\n\nmsg.payload = {\n    \"code\": \"request\",\n    \"cid\": 4711, \n    \"adr\": \"/iolinkmaster/port[1]/iolinkdevice/pdout/setdata\",\n    \"data\":{\"newvalue\":cor}\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":260,"wires":[["846ba136c45b995c","8042574f8325acb9"]]},{"id":"846ba136c45b995c","type":"function","z":"2cc3895e9a5cb3c6","name":"som","func":"msg.payload = msg.voz;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":260,"wires":[[]]},{"id":"3590d7c9065a58ac","type":"inject","z":"2cc3895e9a5cb3c6","name":"","props":[{"p":"hora","v":"dormir","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":310,"y":260,"wires":[["ed99e424854d8ebc"]]},{"id":"8042574f8325acb9","type":"debug","z":"2cc3895e9a5cb3c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":360,"wires":[]},{"id":"51118bbac71a5968","type":"function","z":"c7f8ce4fc06e7614","name":"user_table_new_user","func":"if (msg.payload !='')\n{\nmsg.topic = 'INSERT INTO user_table(cpf,name,surename,room_table_id) VALUES($cpf,$name,$surename,$room_table_id)';\nmsg.payload = [msg.payload.user_cpf, msg.payload.user_name, msg.payload.user_surename, msg.room_table_id];\nreturn msg;\n}\n\nif (msg.payload =='')\n{\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1040,"wires":[["b4eedf8e80f10351"]]},{"id":"b4eedf8e80f10351","type":"sqlite","z":"c7f8ce4fc06e7614","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"db_teste_user","x":900,"y":1220,"wires":[["e8002090b13bb347"]]},{"id":"a58beafb20b06e9e","type":"catch","z":"c7f8ce4fc06e7614","name":"error_user_table","scope":["b4eedf8e80f10351"],"uncaught":false,"x":200,"y":820,"wires":[["6d0406ef6b32af11"]]},{"id":"6d0406ef6b32af11","type":"function","z":"c7f8ce4fc06e7614","name":"user_table_error","func":"if (msg.error != 'Error: SQLITE_CONSTRAINT: UNIQUE constraint failed: user_table.cpf')\n{\n    msg.error = \"cadastro\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":820,"wires":[["c1d0e3ce19defc9e"]]},{"id":"a2068e252803f19c","type":"comment","z":"c7f8ce4fc06e7614","name":"Cadastro de Sensores","info":"","x":220,"y":940,"wires":[]},{"id":"1212627d4557de7c","type":"function","z":"c7f8ce4fc06e7614","name":"select","func":"msg.topic = \"SELECT * FROM user_table\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1160,"wires":[["b4eedf8e80f10351"]]},{"id":"a2a06e5a1efb815e","type":"ui_form","z":"c7f8ce4fc06e7614","name":"user_table_insert","label":"","group":"e5ec328091ba2efa","order":1,"width":6,"height":1,"options":[{"label":"Nome","value":"user_name","type":"text","required":true,"rows":null},{"label":"Sobrenome","value":"user_surename","type":"text","required":true,"rows":null},{"label":"CPF","value":"user_cpf","type":"text","required":true,"rows":null}],"formValue":{"user_name":"","user_surename":"","user_cpf":""},"payload":"","submit":"Gravar","cancel":"Cancelar","topic":"payload","topicType":"msg","splitLayout":false,"className":"","x":230,"y":1040,"wires":[["ad7c008dc8ae463d"]]},{"id":"5f5cd40ab8ee6a1a","type":"ui_table","z":"c7f8ce4fc06e7614","group":"c09795df6ec013d4","name":"Usuários Cadastrados","order":1,"width":12,"height":8,"columns":[{"field":"name","title":"Nome","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"surename","title":"Sobrenome","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"cpf","title":"CPF","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1160,"y":1040,"wires":[["6d80ab9d58eb4368","ccc90c028245be65"]]},{"id":"e8002090b13bb347","type":"json","z":"c7f8ce4fc06e7614","name":"","property":"payload","action":"obj","pretty":false,"x":970,"y":1040,"wires":[["5f5cd40ab8ee6a1a"]]},{"id":"aeb9fe3ff8913fdd","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"76521e6ad2cda0bf","order":2,"width":3,"height":1,"passthru":false,"label":"Novo","tooltip":"","color":"","bgcolor":"","className":"","icon":"add","payload":"{\"group\":{\"hide\":[\"Usuários_Editar\",\"Usuários_Tabela\",\"Usuários_Cadastro_de_Usuários\"],\"show\":[\"Usuários_Incluir\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":1400,"wires":[["d7c7d1523ffa45d0"]]},{"id":"2eb23f79e23ebc07","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"76521e6ad2cda0bf","order":3,"width":3,"height":1,"passthru":false,"label":"Editar","tooltip":"","color":"","bgcolor":"","className":"","icon":"edit","payload":"{\"group\":{\"hide\":[\"Usuários_Incluir\",\"Usuários_Cadastro_de_Usuários\"],\"show\":[\"Usuários_Tabela\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":1360,"wires":[["d7c7d1523ffa45d0","1212627d4557de7c"]]},{"id":"d7c7d1523ffa45d0","type":"ui_ui_control","z":"c7f8ce4fc06e7614","name":"","events":"change","x":420,"y":1480,"wires":[["fa1b140968f75dac","932737eff64351ee"]]},{"id":"c42f08e021199b6f","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"cb3493806ceea85b","order":5,"width":3,"height":1,"passthru":true,"label":"Atualizar","tooltip":"","color":"","bgcolor":"","className":"","icon":"sync","payload":"","payloadType":"str","topic":"","topicType":"str","x":200,"y":1220,"wires":[["9ed28248caf9a9f3"]]},{"id":"41cbebdb9c0f0810","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"cb3493806ceea85b","order":6,"width":3,"height":1,"passthru":false,"label":"Deletar","tooltip":"","color":"","bgcolor":"","className":"","icon":"clear","payload":"{\"group\":{\"hide\":[\"Usuários_Editar\",\"Usuários_Tabela\",\"Usuários_Incluir\"],\"show\":[\"Usuários_Cadastro_de_Usuários\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":200,"y":1260,"wires":[["56d36f9366cbec46","d7c7d1523ffa45d0"]]},{"id":"1afc061668474baa","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Nome","tooltip":"","group":"cb3493806ceea85b","order":2,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1830,"y":1000,"wires":[["675edb65e31631e5"]]},{"id":"ec604fdc6a32cd39","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_nome","func":"msg.payload = msg.payload.name;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":1000,"wires":[["1afc061668474baa"]]},{"id":"0ccb16489e582dca","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_sobrenome","func":"msg.payload = msg.payload.surename;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":1040,"wires":[["9376952f0be4b825"]]},{"id":"9376952f0be4b825","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Sobrenome","tooltip":"","group":"cb3493806ceea85b","order":3,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1850,"y":1040,"wires":[["eca90b29a9f2e92b"]]},{"id":"675edb65e31631e5","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_nome","func":"global.set('name',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2020,"y":1000,"wires":[[]]},{"id":"6d80ab9d58eb4368","type":"function","z":"c7f8ce4fc06e7614","name":"table values to edit","func":"global.set('cpf',msg.payload.cpf);\nglobal.set('name',msg.payload.name);\nglobal.set('surename',msg.payload.surename);\nglobal.set('id',parseInt(msg.payload.id)+1);\nglobal.set('room_table_id',msg.payload.room_table_id);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":1040,"wires":[["ec604fdc6a32cd39","0ccb16489e582dca"]]},{"id":"eca90b29a9f2e92b","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_sobrenome","func":"global.set('surename',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":1040,"wires":[[]]},{"id":"9ed28248caf9a9f3","type":"function","z":"c7f8ce4fc06e7614","name":"update","func":"var id = global.get('id');\nvar name = global.get('name');\nvar surename = global.get('surename');\nvar cpf = global.get('cpf');\nvar room_table_id = global.get('room_table_id');\n\n\n//msg.id = id;\nmsg.cpf = cpf;\nmsg.name = name;\nmsg.surename = surename;\nmsg.room_table_id = room_table_id; \n\nmsg.topic = 'UPDATE user_table SET name = $name, surename = $surename, cpf = $cpf, room_table_id = $room_id  WHERE cpf = $cpf';\nmsg.payload = [msg.name, msg.surename, msg.cpf, msg.room_table_id, msg.id];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1220,"wires":[["b4eedf8e80f10351","73f985bbed5c0ef2"]]},{"id":"56d36f9366cbec46","type":"function","z":"c7f8ce4fc06e7614","name":"delete","func":"var cpf = global.get('cpf');\n\nmsg.cpf = cpf;\n\nmsg.topic = 'DELETE FROM user_table WHERE cpf = $cpf';\nmsg.payload = [msg.cpf];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1260,"wires":[["b4eedf8e80f10351","73f985bbed5c0ef2"]]},{"id":"73f985bbed5c0ef2","type":"delay","z":"c7f8ce4fc06e7614","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":440,"y":1300,"wires":[["1212627d4557de7c"]]},{"id":"fa1b140968f75dac","type":"function","z":"c7f8ce4fc06e7614","name":"Mostra apenas cadastro","func":"msg.payload = \n    {\"group\":\n        {\"hide\":\n        [\n            \"Usuários_Editar\",\n            \"Usuários_Tabela\",\n            \"Usuários_Incluir\"\n        ],\n        \"show\": [\n            \"Usuários_Cadastro_de_Usuários\"\n        ]\n        }\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1560,"wires":[["d7c7d1523ffa45d0"]]},{"id":"ccc90c028245be65","type":"function","z":"c7f8ce4fc06e7614","name":"Editar","func":"msg.payload = {\"group\":{\"hide\":[\"Usuários_Incluir\"],\"show\":[\"Usuários_Tabela\",\"Usuários_Editar\"]}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":1140,"wires":[["14d43b1d421541ec"]]},{"id":"033c50f093d55daf","type":"function","z":"c7f8ce4fc06e7614","name":"","func":"\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Usuários_Incluir\"\n        ],\n        \"show\": [\n            \"Usuários_Cadastro_de_Usuários\"\n        ]\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":820,"wires":[["c6527287223610fd"]]},{"id":"7ee6f3e20a9f8835","type":"link in","z":"c7f8ce4fc06e7614","name":"L1","links":["14d43b1d421541ec"],"x":155,"y":1480,"wires":[["d7c7d1523ffa45d0"]]},{"id":"14d43b1d421541ec","type":"link out","z":"c7f8ce4fc06e7614","name":"","mode":"link","links":["7ee6f3e20a9f8835"],"x":1485,"y":1140,"wires":[]},{"id":"932737eff64351ee","type":"trigger","z":"c7f8ce4fc06e7614","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":1640,"wires":[["fa1b140968f75dac"]]},{"id":"7f618c1343427d87","type":"inject","z":"c7f8ce4fc06e7614","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":1560,"wires":[["fa1b140968f75dac"]]},{"id":"49185bf9f7a61580","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"cb3493806ceea85b","order":7,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":190,"y":1180,"wires":[["fa1b140968f75dac"]]},{"id":"ad7c008dc8ae463d","type":"function","z":"c7f8ce4fc06e7614","name":"CPF Validador","func":"function validarCPF(cpf) \n{\t\n\tcpf = cpf.replace(/[^\\d]+/g,'');\t\n\tif(cpf == '') return false;\t\n\t// Elimina CPFs invalidos conhecidos\t\n\tif (cpf.length != 11 || \n\t\tcpf == \"00000000000\" || \n\t\tcpf == \"11111111111\" || \n\t\tcpf == \"22222222222\" || \n\t\tcpf == \"33333333333\" || \n\t\tcpf == \"44444444444\" || \n\t\tcpf == \"55555555555\" || \n\t\tcpf == \"66666666666\" || \n\t\tcpf == \"77777777777\" || \n\t\tcpf == \"88888888888\" || \n\t\tcpf == \"99999999999\")\n\t\t\treturn false;\t\t\n\t// Valida 1o digito\t\n\tadd = 0;\t\n\tfor (i=0; i < 9; i ++)\t\t\n\t\tadd += parseInt(cpf.charAt(i)) * (10 - i);\t\n\t\trev = 11 - (add % 11);\t\n\t\tif (rev == 10 || rev == 11)\t\t\n\t\t\trev = 0;\t\n\t\tif (rev != parseInt(cpf.charAt(9)))\t\t\n\t\t\treturn false;\t\t\n\t// Valida 2o digito\t\n\tadd = 0;\t\n\tfor (i = 0; i < 10; i ++)\t\t\n\t\tadd += parseInt(cpf.charAt(i)) * (11 - i);\t\n\trev = 11 - (add % 11);\t\n\tif (rev == 10 || rev == 11)\t\n\t\trev = 0;\t\n\tif (rev != parseInt(cpf.charAt(10)))\n\t\treturn false;\t\t\n\treturn true;   \n}\nvar validade;\n\nvalidade =  (validarCPF(String( msg.payload.user_cpf)));\n\nif( validade == false)\n    {\n    msg.error = 'cpf';\n    msg.user_cpf = \"\";\n    msg.payload = \"\";\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1040,"wires":[["c1d0e3ce19defc9e","51118bbac71a5968"]]},{"id":"b574f40ff8a0527a","type":"ui_toast","z":"c7f8ce4fc06e7614","position":"dialog","displayTime":"5","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1030,"y":820,"wires":[["033c50f093d55daf"]]},{"id":"6ab0464760094c16","type":"comment","z":"c7f8ce4fc06e7614","name":"Lista de Erros","info":"","x":190,"y":760,"wires":[]},{"id":"c1d0e3ce19defc9e","type":"function","z":"c7f8ce4fc06e7614","name":"notificações","func":"var nt;\n\nswitch(msg.error)\n{\n    case \"cpf\":\n        nt = \"Erro no cadastro. O CPF informado está inválido!\\n\\r Por favor informe um CPF válido.\";\n        break;\n    case \"cadastro\":\n        nt = \"Erro no cadastro. O CPF informado  já está cadastrado!\";\n        break;\n}\nmsg.payload = nt;\nmsg.topic = \"Mensagem:\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":820,"wires":[["b574f40ff8a0527a"]]},{"id":"fc01ea97a11e5c40","type":"link in","z":"c7f8ce4fc06e7614","name":"cadastro","links":["c6527287223610fd"],"x":155,"y":1440,"wires":[["d7c7d1523ffa45d0"]]},{"id":"c6527287223610fd","type":"link out","z":"c7f8ce4fc06e7614","name":"cadastro1","mode":"link","links":["fc01ea97a11e5c40","d9ac8bbe2f4b4e7c"],"x":1275,"y":820,"wires":[]},{"id":"bc098953e6a5407c","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"e5ec328091ba2efa","order":7,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":190,"y":1140,"wires":[["fa1b140968f75dac"]]},{"id":"db919fcded40e12d","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"c09795df6ec013d4","order":7,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":190,"y":1100,"wires":[["fa1b140968f75dac"]]},{"id":"18fac261af6f38c1","type":"function","z":"c7f8ce4fc06e7614","name":"user_table_new_ac","func":"if (msg.payload !='')\n{\nmsg.topic = 'INSERT INTO ac_table(sn,marca,capacidade,local) VALUES($sn,$marca,$capacidade,$local)';\nmsg.payload = [msg.payload.sn, msg.payload.marca, msg.payload.capacidade, msg.payload.local];\nreturn msg;\n}\n\nif (msg.payload =='')\n{\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1820,"wires":[["3bbe986c7c4cc604","fce53b6f4fcf484c"]]},{"id":"3bbe986c7c4cc604","type":"sqlite","z":"c7f8ce4fc06e7614","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"novodb","x":840,"y":2000,"wires":[["fa617621d3d7df0d"]]},{"id":"45e7c4bf8852660d","type":"function","z":"c7f8ce4fc06e7614","name":"select","func":"msg.topic = \"SELECT * FROM ac_table\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1940,"wires":[["3bbe986c7c4cc604"]]},{"id":"cd4fb7c7126d06f2","type":"ui_form","z":"c7f8ce4fc06e7614","name":"equipamento_table_insert","label":"","group":"1a151323fbe0ab1a","order":1,"width":6,"height":1,"options":[{"label":"Marca","value":"marca","type":"text","required":true,"rows":null},{"label":"Capacidade","value":"capacidade","type":"text","required":true,"rows":null},{"label":"Local","value":"local","type":"text","required":true,"rows":null},{"label":"Nº de Série","value":"sn","type":"text","required":true,"rows":null}],"formValue":{"marca":"","capacidade":"","local":"","sn":""},"payload":"","submit":"Gravar","cancel":"Cancelar","topic":"payload","topicType":"msg","splitLayout":false,"className":"","x":210,"y":1820,"wires":[["18fac261af6f38c1"]]},{"id":"b22d341b0d85bfd2","type":"ui_table","z":"c7f8ce4fc06e7614","group":"b3fcaf8526238603","name":"Equipamentos Cadastrados","order":1,"width":12,"height":7,"columns":[{"field":"sn","title":"Nº de Série","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"marca","title":"Marca","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"capacidade","title":"Capacidade","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"local","title":"Local","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1100,"y":1820,"wires":[["412f2c4f896395d3","3e218cfe93bfef71"]]},{"id":"fa617621d3d7df0d","type":"json","z":"c7f8ce4fc06e7614","name":"","property":"payload","action":"obj","pretty":false,"x":850,"y":1860,"wires":[["b22d341b0d85bfd2","0850c9eb078347f4","a7ea62bbe171364b"]]},{"id":"229fe148b48126c2","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"3fe840e945fecb51","order":2,"width":3,"height":1,"passthru":false,"label":"Novo","tooltip":"","color":"","bgcolor":"","className":"","icon":"add","payload":"{\"group\":{\"hide\":[\"Equipamentos_Editar\",\"Equipamentos_Tabela\",\"Equipamentos_Cadastro_de_Equipamentos\"],\"show\":[\"Equipamentos_Incluir\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":150,"y":2180,"wires":[["f65ad7ad1799c221"]]},{"id":"7f2d1989a5b1a59a","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"3fe840e945fecb51","order":3,"width":3,"height":1,"passthru":false,"label":"Editar","tooltip":"","color":"","bgcolor":"","className":"","icon":"edit","payload":"{\"group\":{\"hide\":[\"Equipamentos_Incluir\",\"Equipamentos_Cadastro_de_Usuários\"],\"show\":[\"Equipamentos_Tabela\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":150,"y":2140,"wires":[["f65ad7ad1799c221","45e7c4bf8852660d"]]},{"id":"f65ad7ad1799c221","type":"ui_ui_control","z":"c7f8ce4fc06e7614","name":"","events":"change","x":380,"y":2260,"wires":[["e9be2c739222cb87","311fd65ace7714aa","cb10a39fbc9ff2e7"]]},{"id":"ff3252f83d0fe449","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"933ffdc2cd878b30","order":7,"width":3,"height":1,"passthru":true,"label":"Atualizar","tooltip":"","color":"","bgcolor":"","className":"","icon":"sync","payload":"","payloadType":"str","topic":"","topicType":"str","x":160,"y":2000,"wires":[["d0a2a7887d96783d"]]},{"id":"6d1d5da749bf5c5b","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"933ffdc2cd878b30","order":8,"width":3,"height":1,"passthru":false,"label":"Deletar","tooltip":"","color":"","bgcolor":"","className":"","icon":"clear","payload":"{\"group\":{\"hide\":[\"Equipamentos_Editar\",\"Equipamentos_Tabela\",\"Equipamentos_Incluir\"],\"show\":[\"Equipamentos_Cadastro_de_Usuários\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":160,"y":2040,"wires":[["79a8bbdf5ff65fc7","f65ad7ad1799c221"]]},{"id":"ebfa5f70a289b941","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Marca","tooltip":"","group":"933ffdc2cd878b30","order":2,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1790,"y":1780,"wires":[["4d95ac793c1fb525"]]},{"id":"02ec028792b8e02e","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_marca","func":"msg.payload = msg.payload.marca;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":1780,"wires":[["ebfa5f70a289b941"]]},{"id":"a6032bed39e8b722","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_capacidade","func":"msg.payload = msg.payload.capacidade;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1820,"wires":[["6c7b537fb14dd7c1"]]},{"id":"6c7b537fb14dd7c1","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Capacidade","tooltip":"","group":"933ffdc2cd878b30","order":4,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1810,"y":1820,"wires":[["d599695dd1de4460"]]},{"id":"4d95ac793c1fb525","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_marca","func":"global.set('marca',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1990,"y":1780,"wires":[[]]},{"id":"412f2c4f896395d3","type":"function","z":"c7f8ce4fc06e7614","name":"table values to edit","func":"global.set('sn',msg.payload.sn);\nglobal.set('marca',msg.payload.marca);\nglobal.set('capacidade',msg.payload.capacidade);\nglobal.set('local',msg.payload.local);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":1820,"wires":[["02ec028792b8e02e","a6032bed39e8b722","63b20e7db6c5bb8e"]]},{"id":"d599695dd1de4460","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_capacidade","func":"global.set('capacidade',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":1820,"wires":[[]]},{"id":"d0a2a7887d96783d","type":"function","z":"c7f8ce4fc06e7614","name":"update","func":"var sn = global.get('sn');\nvar marca = global.get('marca');\nvar capacidade = global.get('capacidade');\nvar local = global.get('local');\n\n\nmsg.sn = sn;\nmsg.marca = marca;\nmsg.capacidade = capacidade;\nmsg.local = local; \n\nmsg.topic = 'UPDATE ac_table SET marca = $marca, capacidade = $capacidade, local = $local  WHERE sn = $sn';\nmsg.payload = [msg.marca, msg.capacidade, msg.local, msg.sn];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":2000,"wires":[["3bbe986c7c4cc604","5322d97e3221d26e"]]},{"id":"79a8bbdf5ff65fc7","type":"function","z":"c7f8ce4fc06e7614","name":"delete","func":"var sn = global.get('sn');\n\nmsg.sn = sn;\n\nmsg.topic = 'DELETE FROM ac_table WHERE sn = $sn';\nmsg.payload = [msg.sn];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":2040,"wires":[["3bbe986c7c4cc604","5322d97e3221d26e"]]},{"id":"5322d97e3221d26e","type":"delay","z":"c7f8ce4fc06e7614","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":400,"y":2080,"wires":[["45e7c4bf8852660d"]]},{"id":"e9be2c739222cb87","type":"function","z":"c7f8ce4fc06e7614","name":"Mostra apenas cadastro","func":"msg.payload = \n    {\"group\":\n        {\"hide\":\n        [\n            \"Equipamentos_Editar\",\n            \"Equipamentos_Tabela\",\n            \"Equipamentos_Incluir\"\n        ],\n        \"show\": [\n            \"Equipamentos_Cadastro_de_Equipamentos\"\n        ]\n        }\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":2340,"wires":[["f65ad7ad1799c221"]]},{"id":"3e218cfe93bfef71","type":"function","z":"c7f8ce4fc06e7614","name":"Editar","func":"msg.payload = {\"group\":{\"hide\":[\"Equipamentos_Incluir\"],\"show\":[\"Equipamentos_Tabela\",\"Equipamentos_Editar\"]}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":1920,"wires":[["29627924edf7a7f4"]]},{"id":"b88e6948fdaa9105","type":"link in","z":"c7f8ce4fc06e7614","name":"L1","links":["29627924edf7a7f4"],"x":115,"y":2260,"wires":[["f65ad7ad1799c221"]]},{"id":"29627924edf7a7f4","type":"link out","z":"c7f8ce4fc06e7614","name":"","mode":"link","links":["b88e6948fdaa9105"],"x":1445,"y":1920,"wires":[]},{"id":"311fd65ace7714aa","type":"trigger","z":"c7f8ce4fc06e7614","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":400,"y":2420,"wires":[["e9be2c739222cb87"]]},{"id":"f45dc30cc97c86f4","type":"inject","z":"c7f8ce4fc06e7614","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":2340,"wires":[["e9be2c739222cb87"]]},{"id":"dd6ad571847a7f37","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"933ffdc2cd878b30","order":9,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":1960,"wires":[["e9be2c739222cb87"]]},{"id":"d9ac8bbe2f4b4e7c","type":"link in","z":"c7f8ce4fc06e7614","name":"cadastro","links":["c6527287223610fd"],"x":115,"y":2220,"wires":[["f65ad7ad1799c221"]]},{"id":"fbcac0cabc9b72b7","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"1a151323fbe0ab1a","order":3,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":1920,"wires":[["e9be2c739222cb87"]]},{"id":"4d94887bfbade79b","type":"ui_button","z":"c7f8ce4fc06e7614","name":"","group":"b3fcaf8526238603","order":2,"width":3,"height":1,"passthru":true,"label":"Sair","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":1880,"wires":[["e9be2c739222cb87"]]},{"id":"63b20e7db6c5bb8e","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_local","func":"msg.payload = msg.payload.local;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":1860,"wires":[["68d74f0d574abfac"]]},{"id":"68d74f0d574abfac","type":"ui_text_input","z":"c7f8ce4fc06e7614","name":"","label":"Local","tooltip":"","group":"933ffdc2cd878b30","order":3,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1790,"y":1860,"wires":[["b33d5470c713f765"]]},{"id":"b33d5470c713f765","type":"function","z":"c7f8ce4fc06e7614","name":"user_edit_local","func":"global.set('local',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1980,"y":1860,"wires":[[]]},{"id":"cb10a39fbc9ff2e7","type":"function","z":"c7f8ce4fc06e7614","name":"Select","func":"if (msg.name==\"Monitor\")\n    {\n    msg.topic = \"SELECT * FROM ac_table\";\n    return msg;\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":2260,"wires":[["3bbe986c7c4cc604"]]},{"id":"baa268706b9ea1ec","type":"function","z":"c7f8ce4fc06e7614","name":"mostra grupos AC","func":"switch(String(Object.keys(msg.payload).length))\n{\n    case \"1\":\n        msg.payload = {\"group\": {\"hide\": [\"Tab_5_AC_2\",\"Tab_5_AC_3\",\"Tab_5_AC_4\"],\"show\":[\"Tab_5_AC_1\"]}}\n        break;\n    case \"2\":\n        msg.payload = {\"group\": {\"hide\": [\"Tab_5_AC_3\",\"Tab_5_AC_4\"],\"show\":[\"Tab_5_AC_1\",\"Tab_5_AC_2\"]}}\n        break;\n    case \"3\":\n        msg.payload = {\"group\": {\"hide\": [\"Tab_5_AC_4\"],\"show\":[\"Tab_5_AC_1\",\"Tab_5_AC_2\",\"Tab_5_AC_3\"]}}\n        break;\n    case \"4\":\n        msg.payload = {\"group\": {\"show\": [\"Tab_5_AC_1\",\"Tab_5_AC_2\",\"Tab_5_AC_3\",\"Tab_5_AC_4\"]}}\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":2520,"wires":[["f65ad7ad1799c221"]]},{"id":"0850c9eb078347f4","type":"link out","z":"c7f8ce4fc06e7614","name":"Tab 5 ","mode":"link","links":["a18d3024780674e9","d4ca8bd16f226c4b"],"x":1115,"y":1920,"wires":[]},{"id":"a18d3024780674e9","type":"link in","z":"c7f8ce4fc06e7614","name":"","links":["0850c9eb078347f4"],"x":55,"y":2520,"wires":[["baa268706b9ea1ec"]]},{"id":"fce53b6f4fcf484c","type":"function","z":"c7f8ce4fc06e7614","name":"Create table AC x","func":"msg.topic = \"CREATE TABLE \" + \"ac\" + String(msg.payload[0]) + \"(id INTEGER PRIMARY KEY AUTOINCREMENT, Timestamp DATETIME DEFAULT (datetime(CURRENT_TIMESTAMP, 'localtime')), umi_int REAL, temp_int REAL, umi_ext REAL, temp_ext REAL)\";\nglobal.set(\"ac1\",\"ac\"+msg.payload[0]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":1700,"wires":[["3bbe986c7c4cc604"]]},{"id":"a7ea62bbe171364b","type":"function","z":"c7f8ce4fc06e7614","name":"","func":"if(msg.payload.length==1)\n{\n    global.set('ac1', 'ac' + String(msg.payload[0].sn));\n}\n\nif(msg.payload.length==2)\n{\n    global.set('ac1', 'ac' + String(msg.payload[0].sn));\n    global.set('ac2', 'ac' + String(msg.payload[1].sn));\n}\n\nif(msg.payload.length==3)\n{\n    global.set('ac1', 'ac' + String(msg.payload[0].sn));\n    global.set('ac2', 'ac' + String(msg.payload[1].sn));\n    global.set('ac3', 'ac' + String(msg.payload[2].sn));\n}\n\nif(msg.payload.length==4)\n{\n    global.set('ac1', 'ac' + String(msg.payload[0].sn));\n    global.set('ac2', 'ac' + String(msg.payload[1].sn));\n    global.set('ac3', 'ac' + String(msg.payload[2].sn));\n    global.set('ac3', 'ac' + String(msg.payload[3].sn));\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":2000,"wires":[[]]},{"id":"a1cdc9eb89353c4b","type":"inject","z":"c7f8ce4fc06e7614","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1050,"y":2100,"wires":[["f6e71e0e9293e346"]]},{"id":"f6e71e0e9293e346","type":"function","z":"c7f8ce4fc06e7614","name":"update","func":"var ac1 = global.get('ac1');\nvar ac2 = global.get('ac2');\nvar ac3 = global.get('ac3');\nvar ac4 = global.get('ac4');\n\nmsg.ac1 = ac1;\nmsg.ac2 = ac2;\nmsg.ac3 = ac3;\nmsg.ac4 = ac4; \n\nmsg.payload = [msg.ac1, msg.ac2, msg.ac3, msg.ac4];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":2100,"wires":[[]]},{"id":"80dcd46666e0675e","type":"function","z":"db852ff198ba5ac6","name":"Conversão dos valores dos sensores","func":"data = msg.payload.data.value;\n//msg.payload= data.substring(0,4);\n//msg.payload = ((parseInt(data.substring(0,4),16))*0.1).toFixed(0) + \" %\";\n//msg.payload = (parseInt(data.substring(8,12),16)*0.1).toFixed(2) + \" °C\";\n\numidade = ((parseInt(data.substring(0,4),16))*0.1).toFixed(0);\ntemperatura = (parseInt(data.substring(8,12),16)*0.1).toFixed(1);\n\nmsg.umidade = umidade;\nmsg.temperatura = temperatura;\nmsg.payload = [msg.umidade, msg.temperatura];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":200,"wires":[["f91fb53ab762a424"]]},{"id":"abb0c494397c9494","type":"http request","z":"db852ff198ba5ac6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"192.168.0.2","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":670,"y":200,"wires":[["80dcd46666e0675e"]]},{"id":"296e159055c14763","type":"function","z":"db852ff198ba5ac6","name":"Parâmetros Leitura Porta 1 Master IO-Link AL1351","func":"msg.payload = { \"code\":\"request\", \"cid\":4711, \"adr\":\"/iolinkmaster/port[1]/iolinkdevice/pdin/getdata\" };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":200,"wires":[["abb0c494397c9494"]]},{"id":"bccebc28aa8b1ddb","type":"comment","z":"db852ff198ba5ac6","name":"Leitura e registro dosvalores de temperatura e umidade","info":"","x":220,"y":80,"wires":[]},{"id":"cfd82196f6c6f296","type":"inject","z":"db852ff198ba5ac6","name":"Insert DB","props":[],"repeat":"360","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":200,"wires":[["296e159055c14763"]]},{"id":"f6058c92d51a28cd","type":"sqlite","z":"db852ff198ba5ac6","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"sensor_db","x":1310,"y":520,"wires":[["138717cb202caeaa","97de19af26c77371","1d0aaa4c713f0a09"]]},{"id":"f91fb53ab762a424","type":"function","z":"db852ff198ba5ac6","name":"insert","func":"var acname = global.get('ac1');\n\nmsg.topic = \"INSERT INTO \" + String(acname) + \"(umi_int, temp_int, umi_ext, temp_ext) VALUES($umi_int, $temp_int, $umi_ext, $temp_ext)\";\nmsg.payload = [msg.umidade, msg.temperatura, String(parseInt(msg.umidade) + 5.1), String(parseInt(msg.temperatura) + 10.3 )];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":240,"wires":[["f6058c92d51a28cd","2298f8a678ee6751"]]},{"id":"de93921a06bb483e","type":"function","z":"db852ff198ba5ac6","name":"select","func":"var acname = global.get('ac1');\n\nmsg.topic = \"SELECT * FROM \" + String(acname);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":280,"wires":[["f6058c92d51a28cd"]]},{"id":"7982204c61b5429e","type":"inject","z":"db852ff198ba5ac6","name":"Select DB","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":280,"wires":[["de93921a06bb483e"]]},{"id":"a012de77162630de","type":"ui_chart","z":"db852ff198ba5ac6","name":"umid per","group":"b025a80747bfd924","order":30,"width":15,"height":9,"label":"Umidade período","chartType":"line","legend":"true","xformat":"auto","interpolate":"monotone","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e78804","#0c6eed","#e4710c","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1820,"y":520,"wires":[[]]},{"id":"cad0cbe1c78631c1","type":"ui_table","z":"db852ff198ba5ac6","group":"66b7fb5d347f8114","name":"Dados de humidade e temperatura","order":1,"width":"20","height":"10","columns":[{"field":"Timestamp","title":"Data / Hora","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temp_int","title":"Temperatura Interna (ºC)","width":"","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"umi_int","title":"Umidade Interna (%)","width":"","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temp_ext","title":"Umidade Externa (%)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"umi_ext","title":"Temperatura Externa (ºC)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1720,"y":360,"wires":[[]]},{"id":"138717cb202caeaa","type":"json","z":"db852ff198ba5ac6","name":"","property":"payload","action":"obj","pretty":false,"x":1470,"y":360,"wires":[["cad0cbe1c78631c1"]]},{"id":"2298f8a678ee6751","type":"delay","z":"db852ff198ba5ac6","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1140,"y":360,"wires":[["de93921a06bb483e"]]},{"id":"a6538d0836afd905","type":"ui_gauge","z":"db852ff198ba5ac6","name":"","group":"b025a80747bfd924","order":5,"width":6,"height":2,"gtype":"gage","title":"Eficiência","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#c62115","#f05400","#54f000"],"seg1":"50","seg2":"60","diff":false,"className":"","x":1800,"y":260,"wires":[]},{"id":"6deb387cc7e2ba96","type":"ui_chart","z":"db852ff198ba5ac6","name":"","group":"b025a80747bfd924","order":15,"width":9,"height":4,"label":"Temperatura (Média / Dia)","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#aec7e8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1770,"y":620,"wires":[[]]},{"id":"82894fcdc727de79","type":"ui_chart","z":"db852ff198ba5ac6","name":"","group":"b025a80747bfd924","order":16,"width":10,"height":4,"label":"Umidade (Média / DIa)","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#0cdfd1","#aec7e8","#e4710c","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1760,"y":700,"wires":[[]]},{"id":"5157c3281007248a","type":"function","z":"db852ff198ba5ac6","name":"select data","func":"var acname = global.get('ac1');\nvar di = global.get('data_inicio');\nvar df = global.get('data_fim');\n\nmsg.topic = \"SELECT * FROM \" + String(acname)+\" WHERE Timestamp BETWEEN $data_inicio AND $data_fim\";\nmsg.payload = [di,df];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":540,"wires":[["f6058c92d51a28cd"]]},{"id":"e6d4b16f06e01e8e","type":"ui_button","z":"db852ff198ba5ac6","name":"","group":"b025a80747bfd924","order":26,"width":3,"height":1,"passthru":false,"label":"Selecionar","tooltip":"","color":"","bgcolor":"","className":"","icon":"done","payload":"\"\"","payloadType":"str","topic":"payload","topicType":"msg","x":710,"y":560,"wires":[["cf1afad3723819e7","5157c3281007248a","80c16d357de64454"]]},{"id":"e99398e2da7cca13","type":"function","z":"db852ff198ba5ac6","name":"Temp Graph  avg by date","func":"function getint(item){return [item.temp_avg_1].join(\",\")}\nfunction gettime(item){return [item.Timestamp.substring(8,10)].join(\",\")}\n\nvar m={};\nm.series = ['Temperatura Média por dia'];\nm.data = [(msg.payload.map(getint))];\nm.labels = [(msg.payload.map(gettime))].toString().split(\",\");\nreturn {payload:[m]};\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":620,"wires":[["6deb387cc7e2ba96"]]},{"id":"97de19af26c77371","type":"function","z":"db852ff198ba5ac6","name":"Temp Graph / dia","func":"function getint(item){return [item.temp_int].join(\",\")}\nfunction getext(item){return [item.temp_ext].join(\",\")}\nfunction gettime(item){return [item.Timestamp.substring(8,13)].join(\",\")}\n\nvar m={};\n\nm.labels = [(msg.payload.map(gettime))].toString().split(\",\");\nm.series = ['Temperatura Interna', \"Temperatura Externa\"];\nm.data = [(msg.payload.map(getint)),(msg.payload.map(getext))];\n\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":460,"wires":[["1a112c4ebbfd90db"]]},{"id":"1d0aaa4c713f0a09","type":"function","z":"db852ff198ba5ac6","name":"Umi Graph / dia","func":"function getint(item){return [item.umi_int].join(\",\")}\nfunction getext(item){return [item.umi_ext].join(\",\")}\nfunction gettime(item){return [item.Timestamp.substring(8,13)].join(\",\")}\n\nvar m={};\n\nm.labels = [(msg.payload.map(gettime))].toString().split(\",\");\nm.series = ['Umidade Interna', \"Umidade Externa\"];\nm.data = [(msg.payload.map(getint)),(msg.payload.map(getext))];\n\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":520,"wires":[["a012de77162630de"]]},{"id":"0444bd6f2152e0ff","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":8,"width":3,"height":1,"name":"G1 Marca","label":"Marca: ","format":"{{msg.payload[0].marca}}","layout":"row-left","className":"","x":280,"y":660,"wires":[]},{"id":"4d028454a16ec00c","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":9,"width":3,"height":1,"name":"G1 Local","label":"Local: ","format":"{{msg.payload[0].local}}","layout":"row-left","className":"","x":280,"y":700,"wires":[]},{"id":"b3d925368c27fe3c","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":10,"width":3,"height":1,"name":"G1 Capacidade","label":"Capacidade: ","format":"{{msg.payload[0].capacidade}}","layout":"row-left","className":"","x":300,"y":740,"wires":[]},{"id":"5988af4ed36516c3","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":7,"width":3,"height":1,"name":"G1 Nº serie","label":"Nº: ","format":"{{msg.payload[0].sn}}","layout":"row-left","className":"","x":290,"y":780,"wires":[]},{"id":"d4ca8bd16f226c4b","type":"link in","z":"db852ff198ba5ac6","name":"","links":["0850c9eb078347f4"],"x":85,"y":680,"wires":[["0444bd6f2152e0ff","4d028454a16ec00c","b3d925368c27fe3c","5988af4ed36516c3"]]},{"id":"4e25f668fe14d567","type":"ui_date_picker","z":"db852ff198ba5ac6","name":"Data inicio","label":"","group":"b025a80747bfd924","order":19,"width":3,"height":1,"passthru":false,"topic":"topic","topicType":"msg","className":"","x":130,"y":920,"wires":[["2d953078cbc9b738"]]},{"id":"2d953078cbc9b738","type":"moment","z":"db852ff198ba5ac6","name":"Data inicio","topic":"","input":"payload","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"days","adjDir":"subtract","format":"YYYY-MM-DD","locale":"en-US","output":"data_inicio","outputType":"global","outTz":"America/Sao_Paulo","x":290,"y":920,"wires":[[]]},{"id":"d81841faec697b3a","type":"moment","z":"db852ff198ba5ac6","name":"Data fim","topic":"","input":"payload","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"en-US","output":"data_fim","outputType":"global","outTz":"America/Sao_Paulo","x":280,"y":960,"wires":[[]]},{"id":"73a7431fc0617a74","type":"ui_date_picker","z":"db852ff198ba5ac6","name":"Data fim","label":"","group":"b025a80747bfd924","order":23,"width":3,"height":1,"passthru":false,"topic":"topic","topicType":"msg","className":"","x":120,"y":960,"wires":[["d81841faec697b3a"]]},{"id":"d00406a27095e17b","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":18,"width":3,"height":1,"name":"","label":"Data inicial","format":"","layout":"row-left","className":"","x":130,"y":880,"wires":[]},{"id":"86d8c185fe92180d","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":22,"width":3,"height":1,"name":"","label":"Data final","format":"","layout":"row-left","className":"","x":280,"y":880,"wires":[]},{"id":"ddd425c304146d4d","type":"ui_led","z":"db852ff198ba5ac6","order":1,"group":"b025a80747bfd924","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"G1 Led","x":380,"y":460,"wires":[]},{"id":"67785c34e43142d8","type":"inject","z":"db852ff198ba5ac6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":460,"wires":[["ddd425c304146d4d"]]},{"id":"b8e10bb3513a967f","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":2,"width":2,"height":1,"name":"G1 Status","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":380,"y":500,"wires":[]},{"id":"42e5e735fa38d89b","type":"inject","z":"db852ff198ba5ac6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Ligado","payloadType":"str","x":170,"y":500,"wires":[["b8e10bb3513a967f"]]},{"id":"b43a8fcf8f8a35e6","type":"inject","z":"db852ff198ba5ac6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":170,"y":420,"wires":[["ddd425c304146d4d"]]},{"id":"1c3501e956787b8b","type":"inject","z":"db852ff198ba5ac6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Desligado","payloadType":"str","x":160,"y":540,"wires":[["b8e10bb3513a967f"]]},{"id":"eda45dabf57632cd","type":"comment","z":"db852ff198ba5ac6","name":"Status do condicionador de ar","info":"","x":140,"y":360,"wires":[]},{"id":"8eeb2734fce9c431","type":"inject","z":"db852ff198ba5ac6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10,4 Horas","payloadType":"str","x":160,"y":580,"wires":[["0ece3ec14e89e3e0"]]},{"id":"0ece3ec14e89e3e0","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":3,"width":6,"height":1,"name":"G1 oper","label":"Horas de Operação","format":"{{msg.payload}}","layout":"row-left","className":"","x":380,"y":580,"wires":[]},{"id":"cf1afad3723819e7","type":"function","z":"db852ff198ba5ac6","name":"select data temp int avg","func":"var acname = global.get('ac1');\n\nmsg.topic = \"SELECT Timestamp, round(avg(temp_int),1) as temp_avg_1 FROM  \"+ String(acname)+\" WHERE Timestamp BETWEEN $data_inicio AND $data_fim GROUP by date(Timestamp)\";\nmsg.payload = [global.get('data_inicio'),global.get('data_fim')]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":620,"wires":[["4c0ae9564032249e"]]},{"id":"5ff4b7445b013d70","type":"ui_text","z":"db852ff198ba5ac6","group":"b025a80747bfd924","order":14,"width":10,"height":1,"name":"","label":"Selecione o período para visualizar os dados nos gráficos abaixo.","format":"","layout":"row-left","className":"","x":300,"y":840,"wires":[]},{"id":"4c0ae9564032249e","type":"sqlite","z":"db852ff198ba5ac6","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"sensor_db","x":1310,"y":620,"wires":[["e99398e2da7cca13"]]},{"id":"7de912dd16ca1977","type":"function","z":"db852ff198ba5ac6","name":"Temp Graph  avg by date","func":"function getint(item){return [item.umi_avg_1].join(\",\")}\nfunction gettime(item){return [item.Timestamp.substring(8,10)].join(\",\")}\n\nvar m={};\nm.series = ['Umidade Média por dia'];\nm.data = [(msg.payload.map(getint))];\nm.labels = [(msg.payload.map(gettime))].toString().split(\",\");\nreturn {payload:[m]};\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":700,"wires":[["82894fcdc727de79"]]},{"id":"80c16d357de64454","type":"function","z":"db852ff198ba5ac6","name":"select data umi int avg","func":"var acname = global.get('ac1');\n\nmsg.topic = \"SELECT Timestamp, round(avg(umi_int),1) as umi_avg_1 FROM  \"+ String(acname)+\" WHERE Timestamp BETWEEN $data_inicio AND $data_fim GROUP by date(Timestamp)\";\nmsg.payload = [global.get('data_inicio'),global.get('data_fim')]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":700,"wires":[["2adca19370f651fa"]]},{"id":"2adca19370f651fa","type":"sqlite","z":"db852ff198ba5ac6","mydb":"84d3c853.83bf3","sqlquery":"msg.topic","sql":"msg.payload","name":"sensor_db","x":1310,"y":700,"wires":[["7de912dd16ca1977"]]},{"id":"1a112c4ebbfd90db","type":"ui_chart","z":"db852ff198ba5ac6","name":"temp per","group":"b025a80747bfd924","order":31,"width":13,"height":9,"label":"Temperatura período","chartType":"line","legend":"true","xformat":"auto","interpolate":"monotone","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e75608","#106ae0","#e4710c","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1820,"y":460,"wires":[[]]},{"id":"cfe1fb63e1d541b3","type":"inject","z":"db852ff198ba5ac6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1040,"y":920,"wires":[["5ee8fa456134d734"]]},{"id":"5ee8fa456134d734","type":"function","z":"db852ff198ba5ac6","name":"","func":"msg.payload = [global.get('data_inicio'),global.get('data_fim')]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":900,"wires":[["24cab073f5d65d66"]]},{"id":"24cab073f5d65d66","type":"debug","z":"db852ff198ba5ac6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1490,"y":900,"wires":[]}]